{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-individualnewspage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    <div class="max-w-7xl mx-auto my-10">
        {% comment %} HEADER {% endcomment %}
        <div class="px-6 md:px-10">
            <h1 class="font-bold text-h2">{{ page.title }}</h1>
            <p class="mt-2">
                {% if page.authors %}
                    {{page.get_parent.specific.authors_posted_by_text}}
                    {% for author in page.authors %}
                        <a href="{{author.value.url}}" class="text-black font-bold hover:underline">{{author.value.title}}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    {{page.get_parent.specific.authors_posted_on_text}}
                {% endif %}
                {{ page.date }}
            </p>

            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-8">
                {% comment %} BODY {% endcomment %}
                <div class="col-span-2">
                    <div class="base-article-m">
                        <div class="[&_img]:mt-0">
                            {% image page.image original class="mb-8 aspect-[8/5] object-cover" %}
                        </div>

                        <div class="text-intro">
                            {{ page.intro|safe }}
                        </div>
                        {{ page.article_body }}
                    </div>

                    <div class="my-20">
                        {% include "ui/components/sharers/ShareSection.html" %}
                    </div>
                </div>

                {% comment %} SIDEBAR {% endcomment %}
                <div class="sidebar [&>div]:my-12 [&_div:first-child_hr]:hidden [&_hr]:mb-8">
                    {% if page.related_projects%}
                        <div>
                            <hr />
                            <h1 class="text-h2 font-bold mb-4">
                                {{ page.get_parent.specific.related_projects_title }}
                            </h1>
                            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4">
                                {% with projects=page.related_projects %}
                                    {% for project in projects %}
                                        {% include "ui/components/projects/ProjectPreviewBlockNews.html" with project=project.value %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}

                    {% if page.related_news %}
                        <div>
                            <hr />
                            <h1 class="text-h2 font-bold mb-4">
                                {{ page.get_parent.specific.related_news_title }}
                            </h1>
                            <div class="[&_span]:text-black text-intro">
                                {% include "ui/components/BaseLink.html" with linkurl=page.get_parent.specific.view_all_news_link linktext=page.get_parent.specific.view_all_news_text %}
                            </div>
                            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4 mt-4">
                                {% with allnews=page.related_news %}
                                    {% for news in allnews %}
                                        {% include "ui/components/news/NewsPreviewBlockNews.html" with news=news.value readmoretext=page.get_parent.specific.read_more_text %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}

                    {% if page.categories.all %}
                        <div>
                            <hr />
                            <h1 class="text-h2 font-bold mb-4">
                                {{ page.get_parent.specific.categories_title }}
                            </h1>
                            <p>
                                {% with categories=page.categories.all %}
                                    {% for category in categories %}
                                        {% comment %} keep in one line so that the commas don't have spaces between them {% endcomment %}
                                        {% with category.id|stringformat:"s" as id %}
                                            <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=page.get_parent linkappendage='?cat'|add:id|add:'=on'%}" class="text-hot-red hover:underline">{{ category.category_name }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endwith %}
                            </p>
                        </div>
                    {% endif %}

                    {% if page.tags.all %}
                        <div>
                            <hr />
                            <h1 class="text-h2 font-bold mb-4">
                                {{ page.get_parent.specific.tags_title }}
                            </h1>
                            <p>
                                {% with tags=page.tags.all %}
                                    {% for tag in tags %}
                                        {% with tag|stringformat:"s" as tagstring %}
                                            <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=page.get_parent linkappendage='?tag.'|add:tagstring|add:'=on'%}" class="text-hot-red hover:underline">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endwith %}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        
    </div>
{% endblock %}