{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-individualnewspage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    <div class="max-w-7xl mx-auto">
        {% comment %} HEADER {% endcomment %}
        <div class="base-article px-10 py-5">
            <h1>{{ page.title }}</h1>
            <p>
                {{page.get_parent.specific.authors_posted_by_text}}
                {% for author in page.authors %}
                    <a href="{{author.value.url}}"><b class="text-black">{{author.value.title}}</b></a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {{page.get_parent.specific.authors_posted_on_text}} {{ page.date }}
            </p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3">
            {% comment %} BODY {% endcomment %}
            <div class="base-article-m px-10 py-5 col-span-2">
                {% image page.image original class="pb-8" %}
                <div class="text-intro">
                    {{ page.intro|safe }}
                </div>
                {{ page.article_body }}

                {% include "ui/components/sharers/ShareSection.html" %}
            </div>

            {% comment %} SIDEBAR {% endcomment %}
            <div class="base-article px-10 py-5 sidebar [&>div]:my-12 [&_div:first-child_hr]:hidden [&_hr]:mb-8">
                {% if page.related_projects%}
                    <div>
                        <hr />
                        <h1 class="text-h2 font-bold mb-4">
                            {{ page.get_parent.specific.related_projects_title }}
                        </h1>
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4">
                            {% with projects=page.related_projects %}
                                {% for project in projects %}
                                    {% include "ui/components/projects/ProjectPreviewBlockNews.html" with project=project.value %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                {% endif %}

                {% if page.related_news %}
                    <div>
                        <hr />
                        <h1 class="text-h2 font-bold mb-4">
                            {{ page.get_parent.specific.related_news_title }}
                        </h1>
                        <div class="[&_span]:text-black text-intro">
                            {% include "ui/components/BaseLink.html" with linkurl="#" linktext=page.get_parent.specific.view_all_news_text %}
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4 mt-4">
                            {% with allnews=page.related_news %}
                                {% for news in allnews %}
                                    {% include "ui/components/news/NewsPreviewBlockNews.html" with news=news.value readmoretext=page.get_parent.specific.read_more_text %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                {% endif %}

                {% if page.categories.all %}
                    <div>
                        <hr />
                        <h1 class="text-h2 font-bold mb-4">
                            {{ page.get_parent.specific.categories_title }}
                        </h1>
                        <p>
                            {% with categories=page.categories.all %}
                                {% for category in categories %}
                                    <a href="#" class="text-hot-red">{{ category.category_name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </p>
                    </div>
                {% endif %}

                {% if page.tags.all %}
                    <div>
                        <hr />
                        <h1 class="text-h2 font-bold mb-4">
                            {{ page.get_parent.specific.tags_title }}
                        </h1>
                        <p>
                            {% with tags=page.tags.all %}
                                {% for tag in tags %}
                                    <a href="#" class="text-hot-red">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}