{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-newsownerpage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    <div class="max-w-7xl mx-auto my-10" x-data="{ 
        params: new URLSearchParams((new URL(window.location.href)).search), 
        activeParams: new URLSearchParams((new URL(window.location.href)).search), 
        {% include 'ui/components/utilities/FormGetActiveXData.js' %}, 
    }">
        <div class="px-6 md:px-10">
            <h1 class="text-h1 font-semibold my-10">{{page.title}}</h1>
            <form id="search-form"
                hx-get="{{page.url}}"
                hx-trigger="submit"
                hx-target="#items-list, #paginator-navigation"
                hx-select="#items-list, #paginator-navigation"
                hx-swap="innerHTML"
                hx-select-oob="#items-list:outerHTML, #paginator-navigation:innerHTML"
                x-init="Alpine.store('searchloading', false)"
                hx-on::after-request="Alpine.store('searchloading', false)"
                @submit="activeParams = new FormData($el); Alpine.store('searchloading', true)"
            >
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    {% comment %} KEYWORD SEARCH {% endcomment %}
                    <div class="bg-hot-off-white flex items-center">
                        <input class="w-full bg-transparent border-none" placeholder="{{page.keyword_search_hint}}" type="text" name="keyword" :value="params.get('keyword')">
                        {% include "ui/components/icon_svgs/SearchIcon.html" with class="text-hot-red mx-3" %}
                    </div>

                    {% comment %} HUB {% endcomment %}
                    <div class="relative" x-data="{ show: false }" @click.away="show = false">
                        <div class="w-full h-full flex justify-between py-2 px-3 bg-hot-off-white items-center cursor-pointer" @click="show = !show">
                            <p class="pointer-events-none">
                                {{page.filter_by_hub}} {% include "ui/components/utilities/FormAppliedSuffix.html" with key="hub" applied_text=page.applied_text %}
                            </p>
                            {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </div>
                        <div class="absolute z-20 bg-hot-off-white p-4 w-full" x-show="show">
                            <hr class="border-b-2">
                            {% for hub in hubs %}
                                <div class="mt-4 flex">
                                    <label for="hub-{{forloop.counter}}">
                                        {{hub.localized.title}}
                                    </label>
                                    <input class="ml-auto checked:bg-hot-red checked:hover:bg-hot-red checked:focus:bg-hot-red" id="hub-{{forloop.counter}}" type="checkbox" name="hub{{hub.id}}" :checked="params.get('hub{{hub.id}}')">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% comment %} CATEGORY {% endcomment %}
                    <div class="relative" x-data="{ show: false }" @click.away="show = false">
                        <div class="w-full h-full flex justify-between py-2 px-3 bg-hot-off-white items-center cursor-pointer" @click="show = !show">
                            <p class="pointer-events-none">
                                {{page.category_select}} {% include "ui/components/utilities/FormAppliedSuffix.html" with key="cat" applied_text=page.applied_text %}
                            </p>
                            {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </div>
                        <div class="absolute z-20 bg-hot-off-white p-4 w-full" x-show="show">
                            <hr class="border-b-2">
                            {% for category in categories %}
                                <div class="mt-4 flex">
                                    <label for="cat-{{forloop.counter}}">{{category.category_name}}</label>
                                    <input class="ml-auto checked:bg-hot-red checked:hover:bg-hot-red checked:focus:bg-hot-red" id="cat-{{forloop.counter}}" type="checkbox" name="cat{{category.id}}" :checked="params.get('cat{{category.id}}')">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% comment %} SORT {% endcomment %}
                    <div class="relative" x-data="{ show: false, setSortType(text) {$refs.sorttype.innerText = text} }" @click.away="show = false">
                        <div class="w-full h-full flex justify-between py-2 px-3 bg-hot-off-white items-center cursor-pointer" @click="show = !show">
                            <p class="pointer-events-none" x-ref="sorttype">
                                {{page.sort_by_new}}
                            </p>
                        {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </div>
                        <div class="absolute z-20 bg-hot-off-white p-4 w-full" x-show="show">
                            <hr class="border-b-2">
                            {% include "./components/NewsSortOption.html" with sort_by=page.sort_by_new sort_id="sort.new" %}
                            {% include "./components/NewsSortOption.html" with sort_by=page.sort_by_old sort_id="sort.old" %}
                            {% include "./components/NewsSortOption.html" with sort_by=page.sort_by_titlea sort_id="sort.titlea" %}
                            {% include "./components/NewsSortOption.html" with sort_by=page.sort_by_titlez sort_id="sort.titlez" %}
                        </div>
                    </div>

                    <!-- {% comment %} TAG {% endcomment %}
                    <div class="bg-hot-off-white flex items-center" x-data="{ submitTagInput() {
                        if(!$refs.taginput.value) return;
                        $refs.taglist.innerHTML += `<div @click='' class='bg-hot-red text-white p-2 cursor-default'><input class='hidden' value='on' name='tag.${escape($refs.taginput.value)}'><p>${escape($refs.taginput.value)} <span class='ml-2 cursor-pointer' @click='$el.parentElement.parentElement.remove()'>✖</span></p></div>`; $refs.taginput.value = '';
                    } }"> -->
                     {% comment %} TAG {% endcomment %}
                        <div class="bg-hot-off-white flex items-center" x-data="{ submitTagInput() {
                            if(!$refs.taginput.value) return;
                            $refs.taglist.innerHTML += `<div @click='' class='bg-hot-red text-white p-2 cursor-default'><input class='hidden' value='on' name='tag.${escape($refs.taginput.value)}'><p>${escape($refs.taginput.value)} <span class='ml-2 cursor-pointer' @click='$el.parentElement.parentElement.remove()'>✖</span></p></div>`; 
                            $refs.taginput.value = '';
                            // Auto-submit the form after adding the tag
                            setTimeout(() => {
                                document.getElementById('search-form').submit();
                            }, 100);
                        } }">
                        <input class="w-full bg-transparent border-none" placeholder="{{page.enter_tag_hint}}" type="text" name="tagfield" x-ref="taginput" 
                               x-on:keydown.enter="submitTagInput(); $event.preventDefault(); return false;"
                        >
                        <p class="text-hot-red px-3 py-2 cursor-pointer" @click="submitTagInput()">+</p>
                    </div>

                    <div class="bg-hot-red text-white font-semibold">
                        <button class="bg-transparent w-full h-full cursor-pointer py-2">
                            {{page.search_button_text}}
                        </button>
                    </div>
                </div>

                <hr class="border-black border-t-2 mt-10 mb-4">

                {% comment %} TAGS GO HERE {% endcomment %}
                <a href="{{page.url}}">
                    <p class="cursor-pointer inline-block">
                        {{page.remove_filters_text}}
                        {% include "ui/components/icon_svgs/RefreshIcon.html" with class="ml-4" %}
                    </p>
                </a>
                {% comment %} for some reason having the 'let nada = undefined' is necessary because it doesn't like when you start the x-init with a for loop {% endcomment %}
                <div id="taglist" x-ref="taglist" class="flex gap-4 mt-4" 
                     x-init="let nada = undefined; for (let x of params) {
                        if (x[0].startsWith('tag.')) {
                            let tag = x[0].slice(4);
                            $el.innerHTML += `<div @click='' class='bg-hot-red text-white p-2 cursor-default'><input class='hidden' value='on' name='tag.${tag}'><p>${tag} <span class='ml-2 cursor-pointer' @click='$el.parentElement.parentElement.remove()'>✖</span></p></div>`;
                        }
                     }"
                >
                </div>
                {% include "ui/components/utilities/SearchLoadingSymbol.html" %}
            </form>

            {% comment %} NEWS ITEMS {% endcomment %}
            <div id="items-list">
                <h2 class="text-h2 font-bold my-8">{{news_paginator.count}} {{page.results_text}}</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-10">
                    {% for article in news %}
                        {% include "ui/components/news/NewsPreviewBlockProjects.html" with news=article showimage=True class="[&_.image-hide-small]:hidden md:[&_.image-hide-small]:block" %}
                    {% endfor %}
                </div>
            </div>

            {% comment %} PAGE NAVIGATION {% endcomment %}
            <div class="mb-20">
                {% include "ui/components/utilities/PaginatorNavigationHTMX.html" with paginator=news_paginator current_page=current_page %}
            </div>
        </div>
    </div>
{% endblock %}
