{% comment %}
==> PARAMETERS
- title: A string, the title shown in the header
- intro: An HTML element (regular usage would be a <p> with some text in it)
- subtitle: An HTML element
- image: A Wagtail image

Only one of either intro or subtitle should be present; you probably would not want both.
{% endcomment %}
{% load wagtailimages_tags %}

{% image image original as image_p %}
<div class="w-full min-h-[24rem] content-end bg-no-repeat bg-cover" style="background-image: url('{{ image_p.url }}')">
    <div class="bg-gradient-to-t from-black/70 to-transparent w-full">
        <div class="h-fit w-full py-10 text-white max-w-7xl mx-auto">
            <div class="grid grid-cols-1 lg:grid-cols-3">
                <div class="px-10 pb-4 h-fit {% if intro %}col-span-1{% else %}col-span-3{% endif %}">
                    <h1 class="text-h1 font-bold lg:font-semibold text-wrap">
                        {{ title }}
                    </h1>
                </div>
                {% if intro %}
                    <div class="flex-1 text-intro px-10 h-fit col-span-2 mt-auto">
                        {{ intro|safe }}
                    </div>
                {% endif %}
            </div>
            {% if subtitle %}
                <div class="px-10">
                    {{ subtitle|safe }}
                </div>
            {% endif %}
        </div>
    </div>
</div>