{% comment %}
==> PARAMETERS
- text: A string, the large text shown in the banner
- buttontext: A string, the text shown in the button
- url: A string, the url for the button
{% endcomment %}
{% load wagtailcore_tags %}

<div class="bg-hot-off-white">
    <div class="max-w-7xl p-12 text-center mx-auto">
        <h1 class="text-h2 font-bold mb-8">
            {{ text }}
        </h1>
        {% if description %}
            <div class="mt-6 mb-2 font-medium text-intro [&_a]:text-hot-red [&_a:hover]:underline">
                {{description|richtext}}
            </div>
        {% endif %}
        {% if buttontext %}
            <div class="mt-6">
                <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=url%}">
                    {% include "components/branded_elements/button.html" with text=buttontext %}
                </a>
            </div>
        {% endif %}
    </div>
</div>