{% comment %}
==> PARAMETERS
- text: A string, the large text shown in the banner
- buttontext: A string, the text shown in the button
- url: A string, the url for the button
{% endcomment %}

<div class="bg-hot-off-white">
    <div class="max-w-7xl p-12 text-center mx-auto">
        <h1 class="text-h2 font-bold mb-8">
            {{ text }}
        </h1>
        {% if description %}
            <div class="my-6">
                {{description|safe}}
            </div>
        {% endif %}
        <a href="{{ url }}">
            {% include "components/branded_elements/button.html" with text=buttontext %}
        </a>
    </div>
</div>