{% comment %}
==> PARAMETERS
- title: A string, the title shown in the header
- subtitle: An HTML element (regular usage would be a <p> with some text in it)
- image: A Wagtail image
- full_length: If falsey/null, the content will not be entirely full length in the header; otherwise, it will be full length
{% endcomment %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image image original as image_p %}
<div class="bg-no-repeat bg-cover relative bg-center" style="background-image: url('{{ image_p.url }}')">
    <div class="min-h-[20rem] bg-gradient-to-r from-black/70 to-transparent before:w-full before:backdrop-blur-sm before:h-full before:block before:absolute">
        <div class="text-white max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-6 relative">
            <div class="min-h-[20rem] py-10 px-10 pb-4 h-full col-span-5">
                <div class="content-end {%if not endinlarge%}lg:content-center{%endif%} h-full py-10">
                    <h1 class="text-h1 font-bold lg:font-semibold text-wrap">
                        {{ title }}
                    </h1>
                    <div class="font-medium text-intro">
                        {% if subtitle %}
                            {{ subtitle|richtext }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
