{% comment %}
==> PARAMETERS
- carousel: list of blocks; each block should have a .value, which should have:
    - .header: string
    - .body: string
    - .action_button.text: string
    - .action_button.link: string

If you'd like, refer to app.ui.models to see the specifics of what makes up a carousel block.
{% endcomment %}
<div x-data="{ slide: 0, slides: [] }"
    x-init="slides = [...$el.children];"
    class="w-full lg:w-[30rem] flex flex-col lg:flex-row justify-center">
    {% for block in carousel %}
        <div x-show="slide === {{ forloop.counter0 }}"
            class="mt-20 lg:w-96 lg:mt-0 backdrop-blur-md p-8 shadow-md h-80 flex flex-col bg-hot-red md:bg-transparent">
            <div class="text-h4 font-bold h-fit">{{ block.value.header }}</div>
            <div class="text-lg font-regular h-fit my-2">{{ block.value.body }}</div>
            <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=block.value.action_button.link%}" class="mt-auto">
                <div class="text-intro font-medium inline-flex space-x-5 items-center">
                    <span>{{ block.value.action_button.text }}</span>
                    
                    <svg xmlns="http://www.w3.org/2000/svg"
                        width="10.689"
                        height="16.819"
                        class="text-white md:text-hot-red"
                        viewBox="0 0 10.689 16.819">
                        <path id="Path_4671" data-name="Path 4671" d="M0,8.28,7,0l7,8.28" transform="translate(9.689 1.409) rotate(90)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </div>
            </a>
        </div>
    {% endfor %}
    <div class="flex flex-row lg:flex-col justify-center lg:justify-normal bg-white md:bg-inherit [&_button]:text-hot-red [&_.selected]:text-white md:[&_button]:text-inherit">
        <button @click="slide=0"
                x-bind:class="{'selected bg-hot-red shadow w-[45px] h-[45px] text-2xl text-hot-white font-bold flex items-center justify-center': slide === 0, 'backdrop-blur-lg shadow w-[45px] h-[45px] text-2xl text-hot-white font-regular flex items-center justify-center': slide !== 0}">
            1
        </button>
        <button @click="slide=1"
                x-bind:class="{'selected bg-hot-red shadow w-[45px] h-[45px] text-2xl text-hot-white font-bold flex items-center justify-center': slide === 1, 'backdrop-blur-lg shadow w-[45px] h-[45px] text-2xl text-hot-white font-regular flex items-center justify-center': slide !== 1}">
            2
        </button>
        <button @click="slide=2"
                x-bind:class="{'selected bg-hot-red shadow w-[45px] h-[45px] text-2xl text-hot-white font-bold flex items-center justify-center': slide === 2, 'backdrop-blur-lg shadow w-[45px] h-[45px] text-2xl text-hot-white font-regular flex items-center justify-center': slide !== 2}">
            3
        </button>
    </div>
</div>