{% comment %}
==> PARAMETERS
- event: an IndividualEventPage object; should be passed directly here
{% endcomment %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image event.image original as image_p %}
<div class="{{class}}">
    {% if showimage %}
        <div class="w-full min-h-[9rem] mb-3 image-overshadow-gradient">
            {% image event.image original class="aspect-[8/5] object-cover object-center" %}
        </div>
    {% endif %}

    <div class="flex w-full [&_p]:text-hot-dark-grey [&_p]:text-small justify-between flex-wrap gap-1">
        {% if event.start_date_time.date == event.end_date_time.date %}
            <p>
                {{ event.start_date_time.date }}
            </p>
            <p>
                {{event.start_date_time.time}} {{event.start_date_time.tzinfo}} &#x2013; {{ event.end_date_time.time }} {{event.end_date_time.tzinfo}}
            </p>
        {% else %}
            <p>
                {{event.start_date_time}} {{event.start_date_time.tzinfo}}
            </p>
            <p> &#x2013; </p>
            <p>
                {{event.end_date_time}} {{event.end_date_time.tzinfo}}
            </p>
        {% endif %}
    </div>
    
    <hr class="border-b-2 my-2" />

    <p class="text-h5 font-bold mt-4">{{event.title}}</p>
    <div class="my-2 [&_p]:text-small">{{event.intro|richtext}}</div>

    <div class="flex gap-4 mt-4">
        <p class="text-hot-red">
            {% include "ui/components/BaseLinkNoUnderline.html" with linktext=event.get_parent.specific.event_read_more_text linkurl=event.url %}
        </p>

        {% if event.rsvp_link %}
            <p class="text-hot-red">
                {% include "ui/components/BaseLinkNoUnderline.html" with linkurl=event.rsvp_link linktext=event.get_parent.specific.rsvp_button_text %}
            </p>
        {% endif %}
    </div>
</div>