<button type="button"
        @click="isMenuOpen = !isMenuOpen"
        class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-inset nav-breakpoint:hidden"
        aria-controls="mobile-menu"
        aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <!--
    Icon when menu is closed.

    Menu open: "hidden", Menu closed: "block"
    -->
    <svg x-show="!isMenuOpen"
         class="h-6 w-6"
         fill="none"
         viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
    <!--
    Icon when menu is open.

    Menu open: "block", Menu closed: "hidden"
    -->
    <svg x-show="isMenuOpen"
         class="h-6 w-6"
         fill="none"
         viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
</button>
