{% load i18n %}
<div x-show="isMenuOpen"
     @click.outside="isMenuOpen = false"
     class="font-barlow bg-hot-white lg:hidden"
     id="mobile-menu">
    <nav class="gap-y-1 pb-3 pt-2 font-medium text-base-18"
         aria-label="Global - Mobile">
        <ul class="list-none pl-0">
            {% comment %} Strings for translation {% endcomment %}
            {% translate "Who We Are" as who_we_are %}
            {% translate "Our Work" as our_work %}
            {% translate "Our Mapping Hubs" as our_mapping_hubs %}
            {% translate "Tools &amp; Resources" as tools_resources %}
            {% translate "Get Involved" as get_involved %}
            {% translate "Start Mapping" as start_mapping %}
            {% translate "News" as news %}
            {% translate "Contact Us" as contact_us %}
            <li>{% include "../mobile/mobile_menu_link.html" with link="#" text=who_we_are selected=True parent=True %}</li>
            <li>{% include "../mobile/mobile_menu_link.html" with link="#" text=our_work parent=True %}</li>
            <li>{% include "../mobile/mobile_menu_link.html" with link="#" text="Open Mapping Hubs" parent=True %}</li>
            <li>{% include "../mobile/mobile_menu_link.html" with link="#" text=tools_resources parent=True %}</li>
            <li>{% include "../mobile/mobile_menu_link.html" with link="#" text=get_involved parent=True %}</li>
            <li>{% include "../branded_elements/button.html" with text=start_mapping classes="my-2 ml-3 mr-4" %}</li>
        </ul>
    </nav>
    <nav class="border-t border-b border-hot-dark-grey py-2">
        <ul class="gap-y-0.5 list-none pl-0">
            <li>{% include "language_switcher.html" %}</li>
            <li>{% include "../mobile/mobile_menu_link.html" with link="#" text=news %}</li>
            <li>{% include "../mobile/mobile_menu_link.html" with link="#" text=contact_us %}</li>
        </ul>
    </nav>
</div>
