{% comment %}
==> PARAMETERS
- project: An IndividualProjectPage object; the project page to be previewed
- showimage: a boolean; whether or not the image should be shown in the preview
{% endcomment %}

{% load wagtailimages_tags %}

{% image project.header_image original as image_p %}
<div class="font-medium my-4">
    <a href="{{ project.url }}">
        <div>
            {% if showimage %}
                <div class="w-full min-h-[9rem] mb-3 content-end bg-no-repeat bg-cover image-overshadow-gradient" style="background-image: url('{{ image_p.url }}')">
                    <div>
                    </div>
                </div>
            {% endif %}

            <p class="text-mini">
                <span class="text-hot-dark-grey">
                    {{ project.location }}
                </span>
            </p>
            
            <p class="my-1">
                {{ project.title }}
            </p>
        </div>
    </a>

    <div class="text-mini my-2">
        {% for area in project.impact_area_list %}
            <a class="text-hot-red text-mini" href="{{ area.value.url }}">
                <p>{{ area.value.title }}{% if not forloop.last %},{% endif %}</p>
            </a>
        {% endfor %}
    </div>
</div>