{% load wagtailimages_tags %}

<div class="font-medium my-4">
    {% if showimage and project.header_image %}
        {% image project.header_image original class="h-36 object-cover w-full mb-3" %}
    {% endif %}

    <p class="text-mini">
        <span class="text-hot-dark-grey">
            {{ project.location }}
        </span>
    </p>
    
    <p class="my-2">
        <a href="{{ project.url }}">
            {{ project.title }}
        </a>
    </p>

    <p class="text-mini">
        <a class="text-hot-red" href="#">
            {% comment %} REPLACE THIS ONCE IMPACT AREAS ARE MADE {% endcomment %}
            Disasters &amp; Climate Resilience
        </a>
    </p>
</div>