{% comment %}
==> PARAMETERS
- project: An IndividualProjectPage object; the project page to be previewed
- showimage: optional; if truthy, the project's image will be shown in the preview
{% endcomment %}

{% load wagtailimages_tags %}

{% with project.localized as project %}
    <div class="font-medium {{class}}">
        <a href="{% include 'ui/components/PageOrLinkHrefText.html' with linkurl=project %}" class="[&:hover_.project-preview-title]:underline">
            <div>
                {% if showimage %}
                    <div class="w-full min-h-[9rem] mb-3 image-overshadow-gradient">
                        {% if project.header_image %}
                            {% image project.header_image width-600 class="aspect-[5/3] w-full object-cover object-center" %}
                        {% else %}
                            {% image project.get_parent.specific.fallback_image width-600 class="aspect-[5/3] w-full object-cover object-center" %}
                        {% endif %}
                    </div>
                {% endif %}

                <p class="text-mini">
                    <span class="text-hot-dark-grey">
                        {{ project.location }}
                    </span>
                </p>
                
                <p class="my-1 project-preview-title">
                    {{ project.title }}
                </p>
            </div>
        </a>

        <div class="text-mini my-2">
            {% for area in project.impact_area_list %}
                <p>
                    <a class="text-hot-red text-mini hover:underline" href="{{ area.value.localized.url }}">{{ area.value.title }}</a>{% if not forloop.last %},{% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
{% endwith %}