{% comment %}
==> PARAMETERS
- project: An IndividualProjectPage object; the project page to be previewed
- showimage: optional; if truthy, the project's image will be shown in the preview
{% endcomment %}

{% load wagtailimages_tags %}

{% image project.header_image original as image_p %}
<div class="font-medium {{class}}">
    <a href="{{ project.url }}" class="[&:hover_.project-preview-title]:underline">
        <div>
            {% if showimage %}
                <div class="w-full min-h-[9rem] mb-3 image-overshadow-gradient">
                    {% image project.header_image original class="aspect-[3/2] object-cover object-center" %}
                </div>
            {% endif %}

            <p class="text-mini">
                <span class="text-hot-dark-grey">
                    {{ project.location }}
                </span>
            </p>
            
            <p class="my-1 project-preview-title">
                {{ project.title }}
            </p>
        </div>
    </a>

    <p class="text-mini">
        {% for hub in project.region_hub_list %}
            <a class="text-hot-red text-mini hover:underline" href="{{ hub.value.url }}">{{ hub.value.title }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
</div>