<div class="font-medium my-4">
    <p class="text-mini">
        <span class="text-hot-dark-grey">
            {{ project.location }}
        </span>
    </p>
    
    <p class="my-2">
        <a href="{{ project.url }}">
            {{ project.title }}
        </a>
    </p>

    <p class="text-mini">
        <a class="text-hot-red" href="#">
            {% comment %} REPLACE THIS ONCE IMPACT AREAS ARE MADE {% endcomment %}
            Disasters &amp; Climate Resilience
        </a>
    </p>
</div>