{% comment %}
==> PARAMETERS
- partners: a list of partner snippets. 
            An example of how this should be accumulated can be found in the IndividualMappingHubPage.
            Alternatively, you can just do it like this: "ParentalManyToManyField('core.Partner', blank=True)"
{% endcomment %}

{% load wagtailimages_tags %}
<div x-data="{ partnerIndex: 0, fixedIndex(x) {return ({{partners|length}} + x + this.partnerIndex) % {{partners|length}}}, moveIndex(x) {this.partnerIndex = this.fixedIndex(x)} }">
    <div class="flex justify-between">
        <div x-on:click="moveIndex(1)" class="p-4 order-first rotate-180 text-hot-red flex flex-col justify-center">
            {% include "ui/components/icon_svgs/LinkCaretCircle.html" with styledhover=True %}
        </div>
        {% for partner in partners %}
            <div :class="{ 'hidden md:block': fixedIndex({{forloop.counter0}}) > 0 && fixedIndex({{forloop.counter0}}) <= 2, 
                           'hidden lg:block': fixedIndex({{forloop.counter0}}) == 3,
                           'hidden': fixedIndex({{forloop.counter0}}) > 3,
                        }"
                 :style="`order: ${fixedIndex({{forloop.counter0}}) + 1}`"
                 class="p-4"
            >
                {% image partner.partner_logo original class="max-h-16 max-w-full h-full w-auto" %}
            </div>
        {% endfor %}
        <div x-on:click="moveIndex(-1)" class="p-4 order-last text-hot-red flex flex-col justify-center">
            {% include "ui/components/icon_svgs/LinkCaretCircle.html" with styledhover=True %}
        </div>
    </div>
</div>