<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description"
              content="Sorry, there seems to be an error. Please try again soon." />
        <meta name="keywords"
              content="500 error, internal server error, server error, website error" />
    </head>
    <body>
        <h1>Internal server error</h1>
        <h2>Sorry, there seems to be an error. Please try again soon.</h2>
    </body>
</html>
