# Django settings
ENV=${ENV:-dev}
SECRET_KEY=${SECRET_KEY:-somesuperdupersecretkeyfortesting}
ALLOWED_HOSTS=${ALLOWED_HOSTS:-["*"]}

# Superuser settings
DJANGO_SUPERUSER_USERNAME=${DJANGO_SUPERUSER_USERNAME:-admin}
DJANGO_SUPERUSER_EMAIL=${DJANGO_SUPERUSER_EMAIL:-admin@example.com}
DJANGO_SUPERUSER_PASSWORD=${DJANGO_SUPERUSER_PASSWORD:-adminpassword}

# Postgres DB settings
DB_NAME=${DB_NAME:-postgres}
DB_USER=${DB_USER:-postgres}
DB_PASSWORD=${DB_PASSWORD:-postgres}
DB_HOST=${DB_HOST:-db}
DB_PORT=${DB_PORT:-5432}

DB_HOST=168.220.91.191
DB_PORT=5432
DB_NAME=hotosm_staging_new
DB_USER=hotosm_staging_new  # or the correct username
DB_PASSWORD=7XiZA4JGijcQCII

# aws settings
# ${AWS_STORAGE_BUCKET_NAME}
# ${AWS_ACCESS_KEY_ID}
# ${AWS_SECRET_ACCESS_KEY}
AWS_STORAGE_BUCKET_NAME=swoon-hotosm-staging 
AWS_ACCESS_KEY_ID=AKIAU6GDXWEJU6F3TIX4
AWS_SECRET_ACCESS_KEY=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

Integration settings
BROWSER_STACK_USER=${BROWSER_STACK_USER:-}
BROWSER_ACCESS_KEY=${BROWSERSTACK_API_KEY:-}
github_token=${github_token:-}

# Other settings
TAG_OVERRIDE=${TAG_OVERRIDE:-}
GIT_BRANCH=${GIT_BRANCH:-}
