.env.dev
.env.prod
.env
**/__pycache__/
**/.pytest_cache/
**/.venv/
node_modules
**/dist/
/staticfiles/
.coverage
/hot_osm/locale
/media
/locale
/migration_pages
# Prevent duplicate CSS file from being committed
/hot_osm/static/css/hot_osm_processed.css