# fly.toml app configuration file generated for hotosm-production on 2025-11-04T12:46:57-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hotosm-production'
primary_region = 'sjc'
kill_signal = 'SIGINT'
kill_timeout = '5s'
console_command = '/code/manage.py shell'

[build]

[deploy]
  strategy = 'rolling'
  release_command = 'python manage.py migrate --noinput'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 8000

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = '30s'
    timeout = '10s'
    grace_period = '30s'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
