[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==5.2"
pre-commit = "*"
psycopg2 = "*"
python-dotenv = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.11"
