{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-eventownerpage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    <div class="max-w-7xl mx-auto my-10" x-data="{ params: new URLSearchParams((new URL(window.location.href)).search), activeParams: new URLSearchParams((new URL(window.location.href)).search), {% include 'ui/components/utilities/FormGetActiveXData.js' %}, }">
        <div class="px-6 md:px-10">
            <h1 class="text-h1 font-semibold my-10">{{page.title}}</h1>
            <form class="my-10"
                hx-get="{{page.url}}"
                hx-trigger="submit"
                hx-target="#items-list, #paginator-navigation"
                hx-select="#items-list, #paginator-navigation"
                hx-swap="innerHTML"
                hx-select-oob="#items-list:outerHTML, #paginator-navigation:innerHTML"
                @submit="activeParams = new FormData($el);"
            >
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    {% comment %} KEYWORD SEARCH {% endcomment %}
                    <div class="bg-hot-off-white flex items-center">
                        <input class="w-full bg-transparent border-none" placeholder="{{page.keyword_search_hint}}" type="text" name="keyword" :value="params.get('keyword')">
                        {% include "ui/components/icon_svgs/SearchIcon.html" with class="text-hot-red mx-3" %}
                    </div>

                    {% comment %} HOST TYPE {% endcomment %}
                    <div class="relative" x-data="{ show: false }" @click.away="show = false">
                        <div class="w-full h-full flex justify-between py-2 px-3 bg-hot-off-white items-center cursor-pointer" @click="show = !show">
                            <p class="pointer-events-none">
                                {{page.host_type_select}} {% include "ui/components/utilities/FormAppliedSuffix.html" with key="htype" applied_text=page.applied_text %}
                            </p>
                            {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </div>
                        <div class="absolute z-20 bg-hot-off-white p-4 w-full" x-show="show">
                            <hr class="border-b-2">
                            {% for event_host_type in event_host_types %}
                                <div class="mt-4 flex">
                                    <label for="htype-{{forloop.counter}}">{{event_host_type.type_name}}</label>
                                    <input class="ml-auto checked:bg-hot-red checked:hover:bg-hot-red checked:focus:bg-hot-red" id="htype-{{forloop.counter}}" type="checkbox" name="htype{{event_host_type.id}}" :checked="params.get('htype{{event_host_type.id}}')">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% comment %} CATEGORY {% endcomment %}
                    <div class="relative" x-data="{ show: false }" @click.away="show = false">
                        <div class="w-full h-full flex justify-between py-2 px-3 bg-hot-off-white items-center cursor-pointer" @click="show = !show">
                            <p class="pointer-events-none">
                                {{page.category_select}} {% include "ui/components/utilities/FormAppliedSuffix.html" with key="cat" applied_text=page.applied_text %}
                            </p>
                            {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </div>
                        <div class="absolute z-20 bg-hot-off-white p-4 w-full" x-show="show">
                            <hr class="border-b-2">
                            {% for category in categories %}
                                <div class="mt-4 flex">
                                    <label for="cat-{{forloop.counter}}">{{category.category_name}}</label>
                                    <input class="ml-auto checked:bg-hot-red checked:hover:bg-hot-red checked:focus:bg-hot-red" id="cat-{{forloop.counter}}" type="checkbox" name="cat{{category.id}}" :checked="params.get('cat{{category.id}}')">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% comment %} HUB {% endcomment %}
                    <div class="relative" x-data="{ show: false }" @click.away="show = false">
                        <div class="w-full h-full flex justify-between py-2 px-3 bg-hot-off-white items-center cursor-pointer" @click="show = !show">
                            <p class="pointer-events-none">
                                {{page.filter_by_country}} {% include "ui/components/utilities/FormAppliedSuffix.html" with key="hub" applied_text=page.applied_text %}
                            </p>
                            {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </div>
                        <div class="absolute z-20 bg-hot-off-white p-4 w-full" x-show="show">
                            <hr class="border-b-2">
                            {% for hub in hubs %}
                                <div class="mt-4 flex">
                                    <label for="hub-{{forloop.counter}}">{{hub.title}}</label>
                                    <input class="ml-auto checked:bg-hot-red checked:hover:bg-hot-red checked:focus:bg-hot-red" id="hub-{{forloop.counter}}" type="checkbox" name="hub{{hub.id}}" :checked="params.get('hub{{hub.id}}')">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% comment %} SORT {% endcomment %}
                    <div class="relative" x-data="{ show: false, setSortType(text) {$refs.sorttype.innerText = text} }" @click.away="show = false">
                        <div class="w-full h-full flex justify-between py-2 px-3 bg-hot-off-white items-center cursor-pointer" @click="show = !show">
                            <p class="pointer-events-none" x-ref="sorttype">
                                {{page.sort_by_new}}
                            </p>
                        {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </div>
                        <div class="absolute z-20 bg-hot-off-white p-4 w-full" x-show="show">
                            <hr class="border-b-2">
                            {% include "./components/EventsSortOption.html" with sort_by=page.sort_by_new sort_id="sort.new" %}
                            {% include "./components/EventsSortOption.html" with sort_by=page.sort_by_old sort_id="sort.old" %}
                            {% include "./components/EventsSortOption.html" with sort_by=page.sort_by_titlea sort_id="sort.titlea" %}
                            {% include "./components/EventsSortOption.html" with sort_by=page.sort_by_titlez sort_id="sort.titlez" %}
                        </div>
                    </div>

                    <div class="relative" x-data="{ show: false }" @click.away="show = false">
                        <div class="w-full h-full flex justify-between py-2 px-3 bg-hot-off-white items-center cursor-pointer" @click="show = !show">
                            <p class="pointer-events-none">
                                {{page.date_date_text}}
                            </p>
                            {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </div>
                        <div class="absolute z-20 bg-hot-off-white p-4 w-full flex flex-col gap-2" x-show="show">
                            <hr class="border-b-2 mb-2">
                            <p>{{page.date_from_text}}</p>
                            <div class="bg-white flex items-center mb-2">
                                <input class="w-full bg-transparent border-none" type="date" name="fromdate" :value="params.get('fromdate')">
                            </div>
                            <p>{{page.date_to_text}}</p>
                            <div class="bg-white flex items-center">
                                <input class="w-full bg-transparent border-none" type="date" name="todate" :value="params.get('todate')">
                            </div>
                        </div>
                    </div>

                    <div class="bg-hot-red text-white font-semibold">
                        <input type="submit" value="{{page.search_button_text}}" class="bg-transparent w-full h-full cursor-pointer py-2">
                    </div>
                </div>
            </form>

            <hr class="border-black border-t-2 mt-10 mb-4">

            <a href="{{page.url}}">
                <p class="cursor-pointer inline-block">
                    {{page.remove_filters_text}}
                    {% include "ui/components/icon_svgs/RefreshIcon.html" with class="ml-4" %}
                </p>
            </a>

            {% comment %} EVENT ITEMS {% endcomment %}
            <div id="items-list">
                <h2 class="text-h2 font-bold my-8">{{events_paginator.count}} {{page.results_text}}</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 mb-10 gap-y-16 md:gap-y-12">
                    {% for event in events %}
                        {% include "ui/components/events/EventPreviewBlockEvent.html" with event=event showimage=True %}
                    {% endfor %}
                </div>
            </div>

            {% comment %} PAGE NAVIGATION {% endcomment %}
            <div class="mb-20">
                {% include "ui/components/utilities/PaginatorNavigationHTMX.html" with paginator=events_paginator current_page=current_page %}
            </div>
        </div>
    </div>
{% endblock %}
