{% load i18n %}
{% load util_filters %}
{% load wagtailcore_tags %}

{% get_current_language as LANGUAGE_CODE %}

<div x-data="{language: '{{ LANGUAGE_CODE }}'}">
  <select
    name="language"
    aria-label="Language Select"
    x-model="language"
    @change="window.location = ($event.target.options[$event.target.selectedIndex].dataset.url)"
    arial-labelledby="language-select-label"
    class="language-select hover:underline border-none appearance-none focus:outline-none pl-4 cursor-pointer lg:pl-0 text-small"
  >
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
      {% language language.code %}
        <option
          value="{{ language.code }}"
          data-url="{% pageurl page.localized %}"
          {% if language.code == LANGUAGE_CODE %}selected{% endif %}
        >
          {{ language.name_local|title_case }}
        </option>
      {% endlanguage %}
    {% endfor %}
  </select>
</div>
