{% load i18n %}
{% load static %}
{% load util_filters %}
{% get_current_language as LANGUAGE_CODE %} {# returns preferred lang as a string - i.e. "en" #}
<div x-data="{language: '{{ LANGUAGE_CODE }}'}">
    <form action="{% url "set_language" %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language"
                x-model="language"
                @change="$event.target.form.submit()"
                arial-labelledby="language-select"
                class="w-full bg-none bg-transparent border-none p-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
            {% get_available_languages as LANGUAGES %} {# returns a list of tuples - i.e. ("en", "English")  #}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"
                        {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ language.name_local|title_case }}
                </option>
            {% endfor %}
        </select>
        <div aria-hidden="true"></div>
    </form>
</div>
