{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-mappinghubprojectspage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% include "./components/projects_header.html" %}
    <div class="max-w-7xl mx-auto my-10" x-data="{ params: new URLSearchParams((new URL(window.location.href)).search) }">
        <div class="px-6 md:px-10">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8" id="projects-list">
                {% for project in projects %}
                    {% include "ui/components/projects/ProjectPreviewBlockNews.html" with project=project.specific showimage=True %}
                {% endfor %}
            </div>
            <p class="text-center my-10" id="next-project" class="{% if not projects.has_next %}hidden{% endif %}">
                {% if projects.has_next %}
                        {% comment %} <a href="?page={{ projects.next_page_number }}"></a> {% endcomment %}
                        <button hx-get="?page={{ projects.next_page_number }}"
                            hx-trigger="click"
                            hx-select="#projects-list, #next-project"
                            hx-swap="beforeend"
                            hx-select-oob="#projects-list:beforeend, #next-project:outerHTML"
                        >
                            <span class="border-b-hot-red border-b-2 pb-1 font-medium mr-4 text-intro">
                                {{page.load_more_projects_text}}
                            </span>
                            {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
                        </button>
                {% endif %}
            </p>

            <h1 class="mt-20 mb-4 font-bold text-h2">
                {{page.projects_by_hub_title}}
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                {% for hub in other_hubs %}
                    {% if hub != page %}
                        <a href="{{hub.url}}">
                            {% include "ui/components/mapping_hub/MappingHubPreviewBlockBase.html" with hub=hub.get_parent.specific %}
                        </a>
                        {% endif %}
                {% endfor %}
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-white my-10">
                <div>
                    {% include "ui/components/dogear_boxes/DogearRed.html" with title=page.red_box_title linktext=page.red_box_link_text linkurl=page.red_box_link_url %}
                </div>
                <div>
                    {% include "ui/components/dogear_boxes/DogearBlack.html" with title=page.black_box_title linktext=page.black_box_link_text linkurl=page.black_box_link_url %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
