{% comment %}
==> PARAMETERS
- title: a string; the title of the box
- linkurl: a string; the link's url
- linktext: a string; the text that shows for the link
- colour: a string; the colour that the box should be (can be hex code or any other CSS compatible colour thing)
- arrowcolour: a string; the colour the arrow should be
{% endcomment %}

<style>
    .dogear-title {
        width: 100%;
    }

    .dogear-link {
        width: 100%;
    }

    @media (min-width: 1024px) {
        .dogear-title {
            width: 70%;
        }

        .dogear-link {
            width: 25%;
            justify-self: flex-end !important;
        }
    }
</style>

<div class="p-10 flex flex-wrap justify-between items-center text-white gap-4" style="background: linear-gradient(45deg, {{ colour }} 0%, {{ colour }} 98%, transparent 98%, transparent 100%); {%if textcolour%}color: {{textcolour}}{%endif%}">
    <h1 class="text-h3 font-bold dogear-title">
        {{ title }}
    </h1>
    <p class="{%if textcolor%}{{textcolor}}{%else%}[&_span]:text-black{%endif%} text-intro text-right dogear-link">
        {% include "ui/components/BaseLinkNoUnderline.html" %}
    </p>
</div>