{% comment %}
==> PARAMETERS
- title: a string; the title of the box
- linkurl: a string; the link's url
- linktext: a string; the text that shows for the link
- colour: a string; the colour that the box should be (can be hex code or any other CSS compatible colour thing)
{% endcomment %}

<div class="p-6 flex flex-col text-white" style="background: linear-gradient(45deg, {{ colour }} 0%, {{ colour }} 95%, transparent 95%, transparent 100%);">
    <h1 class="font-bold text-h2 my-0">
        {{ title }}
    </h1>
    <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=linkurl%}" class="mt-auto pt-6">
        <p class="text-intro font-medium">
            {{ linktext }}
            <span class="ml-2 text-hot-red">
                {% include "ui/components/icon_svgs/LinkCaret.html" %}
            </span>
        </p>
    </a>
</div>