{% comment %}
==> PARAMETERS
- title: a string; the title of the box
- linkurl: a string; the link's url
- linktext: a string; the text that shows for the link
- colour: a string; the colour that the box should be (can be hex code or any other CSS compatible colour thing)
{% endcomment %}

<div class="p-10 text-white grid grid-cols-1 lg:grid-cols-4" style="background: linear-gradient(45deg, {{ colour }} 0%, {{ colour }} 98%, transparent 98%, transparent 100%);">
    <h1 class="text-h3 font-bold col-span-3">
        {{ title }}
    </h1>
    <a href="{{ linkurl }}" class="text-intro font-medium col-span-1 text-left self-center lg:text-right mt-4 lg:mt-0">
        {{ linktext }}
        <span class="ml-4 text-hot-red">
            {% include "ui/components/icon_svgs/LinkCaret.html" %}
        </span>
    </a>
</div>