@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    h1, h2, h3, h4, h5 {
        @apply font-barlow;
    }

    .intro, .base-18, .base-16 {
        @apply font-archivo;
    }

    /* light mode */
    .btn {
        @apply font-archivo text-base-18 bg-hot-red text-hot-white h-10 px-7.5 rounded-8 border-2pt border-transparent;
    }

    .btn:hover {
        @apply bg-hot-off-white text-hot-red;
    }

    .btn:focus {
        @apply bg-transparent text-hot-red border-hot-red outline-none;
    }

    /* dark mode */
    .dark .btn {
        @apply bg-hot-white text-hot-red;
    }

    .dark .btn:hover {
        @apply bg-hot-off-white text-hot-red;
    }

    .dark .btn:focus {
        @apply bg-transparent text-hot-off-white border-hot-off-white outline-none;
    }

    /* nav links */
    .nav-link {
        @apply font-barlow text-h1 text-hot-black;
    }

    .nav-link::after {
        content: "\21B4";
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }

    .nav-link:hover {
        @apply underline;
    }

    .focused {
        outline: 2px solid black;
        padding-left: 15px;
        padding-right: 15px;
        height: 40px;
    }

}
