<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 39.23 30.615">
    <g id="Group_36381" data-name="Group 36381" transform="translate(-175.385 -3106.346)">
        <path id="Path_13160" data-name="Path 13160" d="M0,15,17.493,0,35,15" transform="translate(212.5 3123.461) rotate(180)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
        <path id="Path_13604" data-name="Path 13604" d="M0,15,17.493,0,35,15" transform="translate(212.5 3135.461) rotate(180)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
    </g>
</svg>