<svg class="inline overflow-visible {{class}}" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 19.167 17.242">
  <path id="Path_13090" data-name="Path 13090" d="M2514.594-9984.769h-10.513v13.328h13.7v-6.157" transform="translate(-2503.081 9990.835)" fill="none" stroke="#d43f3f" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  <path id="Path_13091" data-name="Path 13091" d="M2510.932-9979.3l8.179-8.164" transform="translate(-2501.358 9992.033)" fill="none" stroke="#d43f3f" stroke-linecap="round" stroke-width="2"/>
  <path id="Path_13092" data-name="Path 13092" d="M0,2.7,2.7,0,5.391,2.7" transform="translate(16.8 1.707) rotate(45)" fill="none" stroke="#d43f3f" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
</svg>
  
