<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 22.865 20.968">
  <path id="Path_13374" data-name="Path 13374" d="M1.5,6.794V21.968l6.639-3.794,7.587,3.794,6.639-3.794V3L15.726,6.794,8.139,3Z" transform="translate(-0.5 -2)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  <path id="Path_13375" data-name="Path 13375" d="M12,3V18.175" transform="translate(-4.361 -2)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  <path id="Path_13376" data-name="Path 13376" d="M24,9V24.175" transform="translate(-8.773 -4.206)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
</svg>