<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 18.369 15.555">
  <path id="Path_5911" data-name="Path 5911" d="M5.625,19.688H19.619v2.624H5.625Z" transform="translate(-5.625 -9.192)" fill="currentColor"/>
  <path id="Path_5912" data-name="Path 5912" d="M5.625,12.938H23.118v2.624H5.625Z" transform="translate(-5.625 -7.69)" fill="currentColor"/>
  <path id="Path_5913" data-name="Path 5913" d="M5.625,6.188H24.867V8.811H5.625Z" transform="translate(-5.625 -6.188)" fill="currentColor"/>
</svg>
