{% load homepage_tags %}
{% get_home_page as home_page %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% comment %} OPPORTUNITIES {% endcomment %}
<div class="bg-hot-navy-grey text-white">
    <div class="mx-auto max-w-7xl grid lg:grid-cols-5">
        {% image home_page.opportunities_image original as op_image %}
        <div class="lg:order-2 min-h-[20rem] bg-cover bg-no-repeat lg:col-span-2" style="background-image: url('{{op_image.url}}')"></div>
        <div class="lg:order-1 px-6 md:px-10 py-10 flex flex-col justify-center lg:col-span-3">
            <div class="text-h2 [&_b]:text-hot-red bold-override font-bold lg:font-semibold">
                {{home_page.opportunities_title|richtext}}
            </div>
            <div class="text-intro font-medium my-4">
                {{home_page.opportunities_description|richtext}}
            </div>
            <div class="flex gap-4">
                <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=home_page.get_involved_button_url%}">
                    {% include "components/branded_elements/button.html" with text=home_page.get_involved_button_text classes="mt-4" %}
                </a>
                <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=home_page.partner_with_us_button_url%}">
                    {% include "components/branded_elements/button_bordered.html" with text=home_page.partner_with_us_button_text classes="mt-4" %}
                </a>
            </div>
        </div>
    </div>
</div>
