<div x-data="{ slide: 0, slides: [] }"
    x-init="slides = [...$el.children];"
    class="w-full lg:w-1/2 flex flex-col lg:flex-row justify-center md:px-12">
    <div class="grid">
        {% for block in page.carousel %}
            <div :class="slide === {{ forloop.counter0 }} ? '' : 'pointer-events-none invisible'"
                class="col-start-1 row-start-1 mt-20 lg:w-96 lg:mt-0 backdrop-blur-md p-8 shadow-md min-h-[20rem] flex flex-col bg-hot-red md:bg-transparent">
                <div class="text-h4 font-bold h-fit">{{ block.value.header }}</div>
                <div class="text-lg font-regular h-fit my-2">{{ block.value.body }}</div>
                
                <p class="text-intro mt-auto md:[&_svg]:text-hot-red [&_svg]:text-white">
                    {% include "ui/components/BaseLinkNoUnderlineWhite.html" with linktext=block.value.action_button.text linkurl=block.value.action_button.link %}
                </p>
                <button @click="slide = (slide + 1) % 3" class="md:hidden text-right mt-2">
                    Next →
                </button>
            </div>
        {% endfor %}
    </div>
    <div class="md:flex flex-row hidden lg:flex-col justify-center lg:justify-normal">
        <button @click="slide=0"
                x-bind:class="{'bg-hot-red shadow w-[45px] h-[45px] text-2xl text-hot-white font-bold flex items-center justify-center': slide === 0, 'backdrop-blur-lg shadow w-[45px] h-[45px] text-2xl text-hot-white font-regular flex items-center justify-center': slide !== 0}">
            1
        </button>
        <button @click="slide=1"
                x-bind:class="{'bg-hot-red shadow w-[45px] h-[45px] text-2xl text-hot-white font-bold flex items-center justify-center': slide === 1, 'backdrop-blur-lg shadow w-[45px] h-[45px] text-2xl text-hot-white font-regular flex items-center justify-center': slide !== 1}">
            2
        </button>
        <button @click="slide=2"
                x-bind:class="{'bg-hot-red shadow w-[45px] h-[45px] text-2xl text-hot-white font-bold flex items-center justify-center': slide === 2, 'backdrop-blur-lg shadow w-[45px] h-[45px] text-2xl text-hot-white font-regular flex items-center justify-center': slide !== 2}">
            3
        </button>
    </div>
</div>