{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<div x-data="{ selIndex: 0, carIndex: 0, 
               getRelCar(x) {return (x + this.carIndex) % {{ impact_areas|length }}}, 
               moveIndex(x) {this.carIndex = (this.carIndex + x + {{impact_areas|length}}) % {{impact_areas|length}}} 
            }">
    {% comment %} SELECTOR PANEL {% endcomment %}
    <div class="text-right mb-4 {%if impact_areas|length <= 5%}lg:hidden{%endif%}">
        <div x-on:click="moveIndex(1)" class="pr-4 text-hot-red inline-flex flex-col justify-center">
            {% include "ui/components/icon_svgs/LinkCaretCircle.html" with outerclass="rotate-180" styledhover=True %}
        </div>
        <div x-on:click="moveIndex(-1)" class="text-hot-red inline-flex flex-col justify-center">
            {% include "ui/components/icon_svgs/LinkCaretCircle.html" with styledhover=True %}
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 mb-10">
        {% for area in impact_areas %}
            <div :class="{ 'hidden md:block': getRelCar({{forloop.counter0}}) > 1 && getRelCar({{forloop.counter0}}) <= 3, 
                           'hidden lg:block': getRelCar({{forloop.counter0}}) > 3 && getRelCar({{forloop.counter0}}) <= 4,
                           'hidden': getRelCar({{forloop.counter0}}) > 4,
                        }"
                 :style="`order: ${getRelCar({{forloop.counter0}}) + 1}`"
            >
                <div class="rounded-2xl shadow-md h-full">
                    <div class="px-6 pt-6 pb-4 text-center font-medium text-intro h-full cursor-pointer" 
                            x-bind:class="{'bg-hot-red text-white [&_img]:invert': selIndex == {{forloop.counter0}}, 'bg-hot-white': selIndex != {{forloop.counter0}}}"
                            @click="selIndex={{forloop.counter0}}"
                    >
                        {% image area.external_icon fill-200x200 class="px-10" %}
                        <p>
                            {{ area.title }}
                        </p>
                    </div>
                        
                </div>
                <div class="mx-auto w-0 h-0 
                            border-l-[1rem] border-l-transparent 
                            border-r-[1rem] border-r-transparent 
                            border-t-[1rem] border-t-hot-red"
                     x-bind:class="{'invisible pointer-events-none': selIndex != {{forloop.counter0}}}"
                >
                </div>
            </div>
        {% endfor %}
    </div>

    {% comment %} INFO PANEL {% endcomment %}
    <div class="grid grid-cols-1 rounded-2xl shadow-md">
        {% for area in impact_areas %}
            <div class="row-start-1 col-start-1 bg-white w-full p-12"
                 x-bind:class="{'invisible pointer-events-none': selIndex != {{forloop.counter0}}}"
            >
                <div class="grid grid-cols-1 md:grid-cols-5 gap-y-8 md:gap-8 max-w-5xl mx-auto h-full">
                    <div class="col-span-3 flex flex-col h-full">
                        <h1 class="text-hot-red font-bold text-h4">
                            {{ area.title }}
                        </h1>
                        <div class="pt-2 mb-6">
                            {{ area.description|richtext }}
                        </div>
                        <p class="mt-auto">
                            {% include "ui/components/BaseLinkNoUnderline.html" with linktext=page.impact_areas_learn_more linkurl=area.url %}
                        </p>
                    </div>
                    {% image area.intro_image original as area_image %}
                    <div class="col-span-2 bg-cover bg-no-repeat h-40" style="background-image: url('{{area_image.url}}')" >
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>