{% load homepage_filters %}

<div class="md:backdrop-blur-lg md:shadow-md flex flex-col justify-center text-center h-32 p-4 stat-block" :class="open ? 'z-30' : ''" x-data="{ open: false }">
    <div x-text="`{{number|prettify_number}}`" class="font-semibold text-h4"></div>
    <div class="flex justify-center gap-1 flex-wrap">
        <p x-text="`{{stat}}`"></p>
        {% if tooltiptext %}
            <div class="relative" @mouseover.away="open = false">
                <p class="cursor-pointer" @mouseover="open = !open">ⓘ</p>
                <div class="absolute show-at-hover" :class="open ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
                    <p class="relative bg-white text-black shadow-md p-4 w-48">
                        {{tooltiptext}}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</div>