{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-individualprojectpage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% comment %} INTRO {% endcomment %}
    {% include "ui/components/BasePageHeader.html" with title=page.title image=page.header_image %}
    <div class="max-w-7xl mx-auto mt-10 mb-20">
        <div class="px-6 md:px-10">
            <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
                <div class="lg:col-span-2">
                    <div class="base-article-m">
                        {{ page.intro|richtext }}
                    </div>
                    <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=page.learn_more_button_url%}">
                        {% include "components/branded_elements/button.html" with text=page.learn_more_button_text classes="mt-4" %}
                    </a>
                </div>

                <div class="lg:col-span-3 grid gap-4">
                    {% for block in page.intro_info_blocks %}
                        <div class="flex gap-8">
                            {% image block.value.image original class="h-10 w-auto" %}
                            <div class="flex-grow">
                                <h1 class="text-h5 font-bold">{{block.value.title}}</h1>
                                <div class="base-article-m">
                                    {{block.value.description|richtext}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% comment %} OUR APPROACH {% endcomment %}
    {% include "ui/components/sections/NavyBackgroundWithImage.html" with title=page.our_approach_title description=page.our_approach_description button_text=page.our_approach_button_text button_link=page.our_approach_button_url image=page.our_approach_image title_underline=True %}

    {% comment %} OUR PEOPLE {% endcomment %}
    <div class="max-w-5xl mx-auto my-20">
        <div class="px-6 md:px-10">
            {% include "ui/components/sections/LinkListSection.html" with title=page.our_people_title description=page.our_people_description links=page.our_people_links %}
        </div>
    </div>

    <div class="max-w-7xl mx-auto my-20">
        <div class="px-6 md:px-10">
            {% comment %} PAGE PREVIEWS {% endcomment %}
            <div class="grid lg:grid-cols-2 gap-8 my-20">
                {% for prev in page.other_page_preview_blocks %}
                    {% include "ui/components/misc_panels/PagePreviewWithTabletDescription.html" with page=prev.value.page image=prev.value.image tablet_description=prev.value.description read_more_text=page.preview_learn_more_text %}
                {% endfor %}
            </div>

            {% comment %} PARTNERS {% endcomment %}
            <div class="grid grid-cols-1 md:grid-cols-2 mt-20 mb-5">
                <div>
                    <h1 class="text-h2 font-bold">
                        {{ page.partners_title }}
                    </h1>
                    <hr class="border-hot-red w-16 border-b-2" />
                </div>

                <div class="text-right self-center text-intro">
                    {% include "ui/components/BaseLink.html" with linkurl=page.partners_view_all_link linktext=page.partners_view_all_text %}
                </div>
            </div>
            {% include "ui/components/partners/PartnerViewBlock.html" with partners=page.partners.all %}
        </div>
    </div>

    {% comment %} OPPORTUNITIES {% endcomment %}
    {% include "home/components/CheckOutOpportunitiesSection.html" %}
    {% comment %} WORK FOR HOT {% endcomment %}
    {% include "ui/components/sections/GreyBackgroundWithImage.html" with image=page.work_hot_image title=page.work_hot_title description=page.work_hot_description button_text=page.work_hot_button_text button_link=page.work_hot_button_url red_button=True %}

    <div class="max-w-5xl mx-auto my-20">
        <div class="px-6 md:px-10">
            {% include "ui/components/sections/LinkListSection.html" with title=page.our_policies_title description=page.our_policies_description links=page.our_policies_links %}
        </div>
    </div>

    <div class="max-w-7xl mx-auto my-20">
        <div class="px-6 md:px-10">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                {% include "ui/components/dogear_boxes/DogearRed.html" with title=page.red_box_title description=page.red_box_description linktext=page.red_box_link_text linkurl=page.red_box_link %}
                {% include "ui/components/dogear_boxes/DogearBlack.html" with title=page.black_box_title description=page.black_box_description linktext=page.black_box_link_text linkurl=page.black_box_link %}
            </div>
        </div>
    </div>
{% endblock %}
