{% load wagtailimages_tags %}

<div class="hidden md:block">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="auto" viewBox="13 0 1052 699">
        <foreignObject width="270px" height="1px" transform="translate(30 499)" class="overflow-visible relative flex items-center">
            <p class="text-center text-intro font-medium">{{page.what_happens_items.0.value.text}}</p>
        </foreignObject>
        <foreignObject width="270px" height="1px" transform="translate(218 619)" class="overflow-visible relative flex items-center">
            <p class="text-center text-intro font-medium">{{page.what_happens_items.1.value.text}}</p>
        </foreignObject>
        <foreignObject width="270px" height="1px" transform="translate(545 619)" class="overflow-visible relative flex items-center">
            <p class="text-center text-intro font-medium">{{page.what_happens_items.2.value.text}}</p>
        </foreignObject>
        <foreignObject width="270px" height="1px" transform="translate(763 499)" class="overflow-visible relative flex items-center">
            <p class="text-center text-intro font-medium">{{page.what_happens_items.3.value.text}}</p>
        </foreignObject>
        
        <ellipse id="Ellipse_323" data-name="Ellipse 323" cx="199.5" cy="200" rx="199.5" ry="200" transform="translate(726) rotate(90)" fill="#f0efef"/>
        <foreignObject transform="translate(377 125)" width="295px" height="1px" class="overflow-visible relative flex items-center">
            <div class="text-center flex items-center justify-center">
                <p class="text-h1 font-bold">
                    {{page.what_happens_title}}
                </p>
            </div>
        </foreignObject>
        <path id="Path_13401" data-name="Path 13401" d="M8910,20330l-62.183,75" transform="translate(-13727.506 -16665.02) rotate(-16)" fill="none" stroke="#c4c4c4" stroke-width="3" stroke-dasharray="5 8"/>
        <path id="Path_13400" data-name="Path 13400" d="M8979.016,20330,8828,20406.5" transform="translate(-13938.332 -16758.848) rotate(-16)" fill="none" stroke="#c4c4c4" stroke-width="3" stroke-dasharray="5 8"/>
        <g id="Mask_Group_12" data-name="Mask Group 12" transform="translate(-179 -1479)" style="clip-path: ellipse(500px 150px at 225px 480px);">
            <g id="Ellipse_322" data-name="Ellipse 322" transform="translate(950.531 1426.865) rotate(90)" fill="none" stroke="#c4c4c4" stroke-width="3" stroke-dasharray="5 8">
            <circle cx="245.266" cy="245.266" r="245.266" stroke="none"/>
            <circle cx="245.266" cy="245.266" r="243.766" fill="none"/>
            </g>
        </g>
        <circle id="Ellipse_325" data-name="Ellipse 325" cx="12.5" cy="12.5" r="12.5" transform="translate(423 411.891) rotate(-16)" fill="#d43f3f"/>
        <g id="Group_35418" data-name="Group 35418" transform="translate(-687.787 -1585.92) rotate(-16)">
            <circle id="Ellipse_324" data-name="Ellipse 324" cx="12.5" cy="12.5" r="12.5" transform="translate(425 2070)" fill="#d43f3f"/>
        </g>
        <g id="Group_35411" data-name="Group 35411" transform="translate(-609.414 -1658.072) rotate(-16)">
            <circle id="Ellipse_329" data-name="Ellipse 329" cx="42.5" cy="42.5" r="42.5" transform="translate(128 2174)" fill="#d43f3f"/>
        </g>
        <g id="Group_35412" data-name="Group 35412" transform="translate(-390.414 -1538.072) rotate(-16)">
            <circle id="Ellipse_329-2" data-name="Ellipse 329" cx="42.5" cy="42.5" r="42.5" transform="translate(128 2174)" fill="#d43f3f"/>
        </g>
        <path id="Path_13435" data-name="Path 13435" d="M62.184,75,0,0" transform="translate(652.044 510.738) rotate(-164)" fill="none" stroke="#c4c4c4" stroke-width="3" stroke-dasharray="5 8"/>
        <path id="Path_13433" data-name="Path 13433" d="M151.015,76.5,0,0" transform="translate(883.758 423.813) rotate(-164)" fill="none" stroke="#c4c4c4" stroke-width="3" stroke-dasharray="5 8"/>
        <g id="Group_35462" data-name="Group 35462" transform="translate(758.03 310.778) rotate(-164)">
            <circle id="Ellipse_324-2" data-name="Ellipse 324" cx="12.5" cy="12.5" r="12.5" transform="translate(0 0)" fill="#d43f3f"/>
        </g>
        <g id="Group_35413" data-name="Group 35413" transform="translate(-102.414 -1538.072) rotate(-16)">
            <circle id="Ellipse_329-3" data-name="Ellipse 329" cx="42.5" cy="42.5" r="42.5" transform="translate(128 2174)" fill="#d43f3f"/>
        </g>
        <circle id="Ellipse_326" data-name="Ellipse 326" cx="12.5" cy="12.5" r="12.5" transform="translate(597.871 411.891) rotate(-16)" fill="#d43f3f"/>
        <g id="Group_35467" data-name="Group 35467" transform="translate(109.723 -1658.072) rotate(-16)">
            <circle id="Ellipse_329-4" data-name="Ellipse 329" cx="42.5" cy="42.5" r="42.5" transform="translate(128 2174)" fill="#d43f3f"/>
        </g>
        <g id="Group_35507" data-name="Group 35507" transform="translate(143 400.568)">
            <g id="Group_35506" data-name="Group 35506">
                <foreignObject width="50px" height="50px">
                    <div class="flex items-center justify-center w-full h-full">
                        {% image page.what_happens_items.0.value.icon original class="w-auto h-12" %}
                    </div>
                </foreignObject>
            </g>
        </g>
        <g id="Group_35509" data-name="Group 35509" transform="translate(360 518.717)">
            <g id="Group_35508" data-name="Group 35508">
                <foreignObject width="50px" height="50px">
                    <div class="flex items-center justify-center w-full h-full">
                        {% image page.what_happens_items.1.value.icon original class="w-auto h-12" %}
                    </div>
                </foreignObject>
            </g>
        </g>
        <g id="Group_35511" data-name="Group 35511" transform="translate(646.782 518.717)">
            <g id="Group_35510" data-name="Group 35510">
                <foreignObject width="50px" height="50px">
                    <div class="flex items-center justify-center w-full h-full">
                        {% image page.what_happens_items.2.value.icon original class="w-auto h-12" %}
                    </div>
                </foreignObject>
            </g>
        </g>
        <g id="Group_35513" data-name="Group 35513" transform="translate(860 403)">
            <g id="Group_35512" data-name="Group 35512">
                <foreignObject width="50px" height="50px">
                    <div class="flex items-center justify-center w-full h-full">
                        {% image page.what_happens_items.3.value.icon original class="w-auto h-12" %}
                    </div>
                </foreignObject>
            </g>
        </g>
    </svg>
</div>