<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="auto" viewBox="0 0 1068 400" class="hidden md:block">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_17322" data-name="Rectangle 17322" width="68" height="366" transform="translate(507 619)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_10" data-name="Mask Group 10" transform="translate(-71 -602)" clip-path="url(#clip-path)">
    <g id="Ellipse_321" data-name="Ellipse 321" transform="translate(-33 506)" fill="none" stroke="#c4c4c4" stroke-width="3" stroke-dasharray="5 8">
      <circle cx="294" cy="294" r="294" stroke="none"/>
      <circle cx="294" cy="294" r="292.5" fill="none"/>
    </g>
  </g>
  <g id="Group_35403" data-name="Group 35403" transform="translate(407.477 19)">
    <rect id="Rectangle_17318" data-name="Rectangle 17318" width="67" height="67" rx="33.5" transform="translate(-0.477)" fill="#d43f3f"/>
    <text id="_1" data-name="1" transform="translate(23.523 43)" fill="#fff" font-size="31" font-family="inherit" font-weight="700"><tspan x="0" y="0">1</tspan></text>
  </g>
  <text id="Co-create_open_map_data_with_communities" data-name="{{page.what_we_do_items.0.value}}" transform="translate(504 41)" font-size="20" font-family="inherit" font-weight="500"><tspan x="0" y="18">{{page.what_we_do_items.0.value}}</tspan></text>
  <g id="Group_35402" data-name="Group 35402" transform="translate(449.477 166.162)">
    <rect id="Rectangle_17320" data-name="Rectangle 17320" width="67" height="67" rx="33.5" transform="translate(-0.477 -0.162)" fill="#d43f3f"/>
    <text id="_2" data-name="2" transform="translate(23.523 43.838)" fill="#fff" font-size="31" font-family="inherit" font-weight="700"><tspan x="0" y="0">2</tspan></text>
  </g>
  <text id="Connect_a_wide_network_of_partners_to_use_open_map_data" data-name="{{page.what_we_do_items.1.value}}" transform="translate(546 189)" font-size="20" font-family="inherit" font-weight="500"><tspan x="0" y="18">{{page.what_we_do_items.1.value}}</tspan></text>
  <g id="Group_35405" data-name="Group 35405" transform="translate(407.477 313.477)">
    <rect id="Rectangle_17319" data-name="Rectangle 17319" width="67" height="67" rx="33.5" transform="translate(-0.477 -0.477)" fill="#d43f3f"/>
    <text id="_3" data-name="3" transform="translate(23.523 43.523)" fill="#fff" font-size="31" font-family="inherit" font-weight="700"><tspan x="0" y="0">3</tspan></text>
  </g>
  <text id="Develop_accessible_open-source_mapping_products" data-name="{{page.what_we_do_items.2.value}}" transform="translate(504 333)" font-size="20" font-family="inherit" font-weight="500"><tspan x="0" y="18">{{page.what_we_do_items.2.value}}</tspan></text>
  <ellipse id="Ellipse_320" data-name="Ellipse 320" cx="199.5" cy="200" rx="199.5" ry="200" fill="#f0efef"/>
  <text id="What_We_Do" data-name="What We Do" transform="translate(79 182)" font-size="38" font-family="inherit" font-weight="700" text-anchor="middle"><tspan x="125" y="33">What We Do</tspan></text>
  <g id="Mask_Group_13" data-name="Mask Group 13" transform="translate(-71 -602)" clip-path="url(#clip-path)">
    <g id="Ellipse_360" data-name="Ellipse 360" transform="translate(-33 506)" fill="none" stroke="#c4c4c4" stroke-width="3" stroke-dasharray="5 8">
      <circle cx="294" cy="294" r="294" stroke="none"/>
      <circle cx="294" cy="294" r="292.5" fill="none"/>
    </g>
  </g>
  <g id="Group_35525" data-name="Group 35525" transform="translate(407.477 19)">
    <rect id="Rectangle_17318-2" data-name="Rectangle 17318" width="67" height="67" rx="33.5" transform="translate(-0.477)" fill="#d43f3f"/>
    <text id="_1-2" data-name="1" transform="translate(23.523 43)" fill="#fff" font-size="31" font-family="inherit" font-weight="700"><tspan x="0" y="0">1</tspan></text>
  </g>
  <text id="Co-create_open_map_data_with_communities-2" data-name="Co-create open map data with communities" transform="translate(504 41)" font-size="20" font-family="inherit" font-weight="500"></text>
  <g id="Group_35526" data-name="Group 35526" transform="translate(449.477 166.162)">
    <rect id="Rectangle_17320-2" data-name="Rectangle 17320" width="67" height="67" rx="33.5" transform="translate(-0.477 -0.162)" fill="#d43f3f"/>
    <text id="_2-2" data-name="2" transform="translate(23.523 43.838)" fill="#fff" font-size="31" font-family="inherit" font-weight="700"><tspan x="0" y="0">2</tspan></text>
  </g>
  <text id="Connect_a_wide_network_of_partners_to_use_open_map_data-2" data-name="Connect a wide network of partners to use open map data" transform="translate(546 189)" font-size="20" font-family="inherit" font-weight="500"></text>
  <g id="Group_35527" data-name="Group 35527" transform="translate(407.477 313.477)">
    <rect id="Rectangle_17319-2" data-name="Rectangle 17319" width="67" height="67" rx="33.5" transform="translate(-0.477 -0.477)" fill="#d43f3f"/>
    <text id="_3-2" data-name="3" transform="translate(23.523 43.523)" fill="#fff" font-size="31" font-family="inherit" font-weight="700"><tspan x="0" y="0">3</tspan></text>
  </g>
  <text id="Develop_accessible_open-source_mapping_products-2" data-name="Develop accessible open-source mapping products" transform="translate(504 333)" font-size="20" font-family="inherit" font-weight="500"></text>
</svg>
