{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-donatepage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% include "ui/components/PageHeaderWithBlur.html" with title=page.title image=page.banner_image subtitle=page.banner_description %}

    <div class="max-w-7xl mx-auto">
        <div class="px-6 md:px-10">
            <div class="max-w-5xl mx-auto mt-10 mb-20">
                <div class="text-intro font-medium mb-10">
                    {{page.intro|richtext}}
                </div>

                <div id="donation-form"></div>
            </div>
            
            <!-- <script src="https://cdn.donately.com/core/5.6/donately.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function(){
                Donately.init({
                    selector: '#donation-form',
                    options: {
                    "donately-id":"act_6050cafb6dc1",
                    "stripe-publishable-key":"pk_live_V98OphdHjflWilBEfL1IK28w",
                    "donately-form-id":"frm_d317bd5dd6fd",
                    "donately-presets":"20,50,100,500,1000",
                    "donately-amount":"{\"default\":\"50\"}",
                    "donately-currency":"USD,EUR,GBP,CAD",
                    "donately-payment-options":"cc,ach",
                    "donately-recurring-frequency":"[\"false\",\"1.month\"]",
                    "donately-donor-pays-fees":"{\"cc\":{\"processor_percent\":0.029,\"processor_fixed\":0.3,\"processor_cap\":\"\",\"dntly_percent\":0.02,\"complex_calc\":true},\"ach\":{\"processor_percent\":0.008,\"processor_fixed\":0,\"processor_cap\":5,\"dntly_percent\":0.02,\"complex_calc\":true},\"preselected\":true}",
                    "donately-billing-zip":"true",
                    "donately-comment":true,
                    "donately-anonymous":true,
                    "donately-i18n-locale":"en_US",
                    "donately-form-navigation":"{\"steps\":[[\"presets\",\"amount\",\"donorpaysfees\",\"recurringgroup\",\"paymentmethods\",\"namegroup\",\"email\",\"billingzip\",\"comment\",\"onbehalf\",\"anonymous\",\"submit\"]]}",
                    "donately-onbehalf":true,
                    },
                    afterFormLoad: function() {},
                    afterNavigateHook: function(stepNumber) {},
                    onSuccess: function(donation){},
                    onError: function(error){}
                })
                }, false);
            </script> -->

            <script src='https://hotosm.app.neoncrm.com/forms/share/Rk9STS1FTUJFRFNIQVJJTkctQ09ERTQ='></script>
            

            <div class="mb-20">
                <h2 class="text-h2 font-bold mb-8">{{page.other_ways_to_donate_title}}</h2>
                <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
                    {% for block in page.other_ways_to_donate %}
                        <div class="p-6 bg-hot-off-white">
                            {% image block.value.icon original class="h-12 w-auto mt-2" %}
                            <h1 class="text-h4 font-semibold mt-4">
                                {{block.value.title}}
                            </h1>
                            <div class="base-article-m">
                                {{block.value.text}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


