{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-workinggroupspage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% include "ui/components/PageHeaderWithBlur.html" with title=page.title subtitle=page.intro image=page.header_image smaller=True %}
    
    <div class="max-w-5xl mx-auto my-10">
        <div class="px-6 md:px-10 grid gap-16">
            {% for group in page.working_groups %}
                <div>
                    {% include "ui/components/sections/LinkListSection.html" with title=group.value.title description=group.value.description links=group.value.links external_style=True %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
