{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-individualprogrampage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% include "ui/components/PageHeaderWithBlur.html" with title=page.title image=page.header_image full_length=True endinlarge=True %}

    <div class="max-w-7xl mx-auto my-10 px-6 md:px-10">
        <div class="text-h5 font-bold max-w-3xl my-10 [&_b]:text-hot-red bold-override">
            {{page.subtitle|richtext}}
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-10">
            <div class="base-article-m [&_p:first-child]:mt-0 lg:order-2">
                <h2 style="margin-top:0">{{page.get_parent.specific.about_program_title}}</h2>
                <div class="text-intro font-medium">
                    {{ page.intro|richtext }}
                </div>
                {{ page.description|richtext }}
            </div>
            {% image page.intro_image original class="pb-8 lg:order-1 aspect-[3/2] object-cover object-center" %}
        </div>
    </div>
    <div class="bg-hot-off-white mt-20 mb-10">
        <div class="max-w-7xl mx-auto px-6 md:px-10 pt-20 pb-10">
            {% include "ui/components/TitleWithUnderline.html" with title=page.get_parent.specific.stats_title %}

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-{%if page.stats|length_is:4%}4{%else%}3{%endif%} gap-10 py-6 mt-2">
                {% for stat in page.stats %}
                    <div class="bg-white p-8 flex items-center justify-center text-center flex-col">
                        <h1 class="text-h2 font-bold">
                            <span class="text-hot-red">{{ stat.value.title }}</span> 
                        </h1>
                        <p class="text-h5 font-bold">
                            {{ stat.value.description }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% image page.stat_section_image original class="max-h-96 w-full object-cover object-center" %}
    </div>
    <div class="max-w-7xl mx-auto my-10 px-6 md:px-10">
        <div class="py-6">
            <h1 class="text-h2 font-bold">
                {{ page.get_parent.specific.goals_title }}
            </h1>
            <hr class="border-hot-red w-16 border-b-2" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 py-6">
            {% for goal in page.goals %}
                <div class="[&_ul]:list-disc [&_li]:py-1 [&_ul]:p-4 [&_li::marker]:text-hot-red bg-hot-off-white py-8 px-6">
                    <h1 class="text-h4 font-bold">
                        {{ goal.value.title }}
                    </h1>
                    {{ goal.value.description|richtext }}
                </div>
            {% endfor %}
        </div>

        <div class="py-6">
            <h1 class="text-h2 font-bold">
                {{ page.get_parent.specific.projects_title }}
            </h1>
            <hr class="border-hot-red w-16 border-b-2" />

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 py-6">
                {% for project in projects %}
                    {% include "ui/components/projects/ProjectPreviewBlockNews.html" with project=project showimage="True" %}
                {% endfor %}
            </div>
        </div>

        <div class="py-6">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div>
                    <h1 class="text-h2 font-bold">
                        {{ page.get_parent.specific.partners_title }}
                    </h1>
                    <hr class="border-hot-red w-16 border-b-2" />
                </div>

                <div class="text-right self-center text-intro">
                    {% with page.id|stringformat:"s" as id %}
                        {% include "ui/components/BaseLink.html" with linkurl=page.get_parent.specific.view_all_partners_link_url linktext=page.get_parent.specific.view_all_partners_title linkappendage="?prg"|add:id|add:"=on" %}
                    {% endwith %}
                </div>
            </div>
            
            {% include "ui/components/partners/PartnerViewBlock.html" with partners=page.partner_list %}
        </div>

        <div class="py-6">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <h1 class="text-h2 font-bold">
                    {{ page.get_parent.specific.more_programs_title }}
                </h1>

                <div class="text-right self-center text-intro">
                    {% include "ui/components/BaseLink.html" with linkurl=page.get_parent.specific.view_all_programs_link_url linktext=page.get_parent.specific.view_all_programs_title %}
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-6">
                {% for program in page.more_programs %}
                    {% include "ui/components/programs/ProgramPreviewBlockBase.html" with program=program.value %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "ui/components/FooterBannerWithTextAndLink.html" with text=page.get_parent.specific.bottom_banner_text buttontext=page.get_parent.specific.bottom_banner_url_text url=page.get_parent.specific.bottom_banner_link_url %}
{% endblock %}
