{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-individualprojectpage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% include "ui/components/PageHeaderWithBlur.html" with title=page.title subtitle=page.subtitle image=page.header_image %}

    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 p-10 gap-x-10">
            {% image page.intro_image original class="pb-8" %}
            <div class="base-article-m [&_p:first-child]:mt-0">
                <div class="text-intro font-medium">
                    {{ page.intro|safe }}
                </div>
                {{ page.description|safe }}
            </div>
        </div>

        <h1 class="text-h2 px-10 font-bold">
            {{ page.stats_title }}
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 px-10 py-6">
            {% for stat in page.stats %}
                <div class="bg-hot-off-white p-8">
                    <h1 class="text-h4 font-bold">
                        {{ stat.value.title }}
                    </h1>

                    <p>
                        {{ stat.value.description }}
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="px-10 py-6">
            <h1 class="text-h2 font-bold">
                {{ page.goals_title }}
            </h1>
            <hr class="border-hot-red w-16 border-b-2" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 px-10 py-6">
            {% for goal in page.goals %}
                <div class="[&_ul]:list-disc [&_li]:py-1 [&_ul]:p-4 [&_li::marker]:text-hot-red">
                    <h1 class="text-h4 font-bold">
                        {% image goal.value.icon original class="inline mr-3" %}
                        {{ goal.value.title }}
                    </h1>
                    {{ goal.value.description|safe }}
                </div>
            {% endfor %}
        </div>

        <div class="px-10 py-6">
            <h1 class="text-h2 font-bold">
                {{ page.projects_title }}
            </h1>
            <hr class="border-hot-red w-16 border-b-2" />

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 py-6">
                {% for project in projects %}
                    {% include "ui/components/projects/ProjectPreviewBlockNews.html" with project=project showimage="True" %}
                {% endfor %}
            </div>
        </div>

        <div class="px-10 py-6">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div>
                    <h1 class="text-h2 font-bold">
                        {{ page.partners_title }}
                    </h1>
                    <hr class="border-hot-red w-16 border-b-2" />
                </div>

                <div class="text-right self-center">
                    {% include "ui/components/BaseLink.html" with linkurl=page.view_all_partners_link linktext=page.view_all_partners_title %}
                </div>
            </div>
            

            <div x-data="{ partnerIndex: 0, fixedIndex(x) {return ({{page.partners.all|length}} + x + this.partnerIndex) % {{page.partners.all|length}}}, moveIndex(x) {this.partnerIndex = this.fixedIndex(x)} }">
                

                <div class="flex justify-around">
                    <div x-on:click="moveIndex(1)" class="p-4 order-first rotate-180 text-hot-red flex flex-col justify-center">
                        <div class="inline border-hot-red border-2 rounded-full h-8 w-8 text-center">
                            {% include "ui/components/icon_svgs/LinkCaret.html" %}
                        </div>
                    </div>
                    {% for partner in page.partners.all %}
                        <div x-show="partnerIndex=={{forloop.counter0}} || fixedIndex(1)=={{forloop.counter0}} || fixedIndex(2)=={{forloop.counter0}} || fixedIndex(3)=={{forloop.counter0}}"
                            x-bind:class="{'order-1': partnerIndex=={{forloop.counter0}}, 'order-2': fixedIndex(1)=={{forloop.counter0}}, 'order-3 hidden md:block': fixedIndex(2)=={{forloop.counter0}}, 'order-4 hidden lg:block': fixedIndex(3)=={{forloop.counter0}},}"
                            class="p-4"
                        >
                            {% image partner.partner_logo original class="max-h-16 max-w-24 h-auto w-auto" %}
                        </div>
                    {% endfor %}
                    <div x-on:click="moveIndex(-1)" class="p-4 order-last text-hot-red flex flex-col justify-center">
                        <div class="inline border-hot-red border-2 rounded-full h-8 w-8 text-center">
                            {% include "ui/components/icon_svgs/LinkCaret.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-10 py-6">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <h1 class="text-h2 font-bold">
                    {{ page.more_programs_title }}
                </h1>

                <div class="text-right self-center">
                    {% include "ui/components/BaseLink.html" with linkurl=page.view_all_programs_link linktext=page.view_all_programs_title %}
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-6">
                {% for program in page.more_programs %}
                    {% include "ui/components/programs/ProgramPreviewBlockBase.html" with program=program.value %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
