{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-impactareaspage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% include "ui/components/BasePageHeader.html" with title=page.title intro=page.header_text image=page.image %}

    <div class="max-w-7xl mx-auto my-10 lg:grid lg:grid-cols-6">
        <div class="px-6 md:px-10 col-span-5">
            <div class="text-intro font-semibold">
                {{page.intro|richtext}}
            </div>
            <div class="base-article-m">
                {{page.description|richtext}}
            </div>
        </div>
    </div>
    
    <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 px-6 md:px-10 mt-6 mb-10">
        {% for child in page.get_children %}
            {% include "ui/components/impact_areas/ImpactAreaPreviewBlock.html" with ia=child.specific learn_more_text=page.learn_more_text %}
        {% endfor %}
    </div>
{% endblock %}