{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-impactareaspage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% include "ui/components/BasePageHeader.html" with title=page.title intro=page.intro image=page.image %}
    <div class="max-w-7xl mx-auto">
        <p>
            hi
        </p>
    </div>

{% endblock %}