<div class="text-small font-medium [&>.show-at-large]:hidden [&:hover>.show-at-large]:block p-2 [&>p]:hover:text-hot-red [&_p:hover]:text-hot-red text-left">
    <p class="">
        <a href="{%if item.link_page%}{{item.link_page.url}}{%elif item.link_url%}{{item.link_url}}{%else%}#{%endif%}">
            <span class="{%if item.children%}pr-2{%endif%}">{{item.title}}</span>
        </a>
        {% if item.children %}
            {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-90 text-hot-red" %}
        {% endif %}
    </p>

    {% if item.children %}
        <div class="show-at-large lg:absolute z-50 lg:mt-2 bg-hot-off-white lg:py-4 text-black">
            {% comment %} CHILDREN NAVBAR ITEMS {% endcomment %}
            {% for child in item.children %}
                <div class="[&>.show-at-large]:hidden [&:hover>.show-at-large]:block px-6 py-2 ">
                    <p class="">
                        <a class="hover:text-hot-red" href="{%if child.value.link_page%}{{child.value.link_page.url}}{%elif child.value.link_url%}{{child.value.link_url}}{%else%}#{%endif%}">
                            {{child.value.title}}
                        </a>
                        {% if child.value.children %}
                            {% include "ui/components/icon_svgs/LinkCaret.html" with class="text-hot-red caret-arrow ml-2 rotate-90 lg:rotate-0" %}
                        {% endif %}
                    </p>

                    {% comment %} GRANDCHILDREN NAVBAR ITEMS {% endcomment %}
                    {% if child.value.children%}
                        <div class="show-at-large nav-grandchild lg:absolute lg:-mt-8 lg:left-full bg-hot-off-white px-6 lg:py-4 lg:w-fit">
                            {% for gchild in child.value.children %}
                                <p class="py-2 lg:w-fit">
                                    <a href="{%if gchild.value.link_page%}{{gchild.value.link_page.url}}{%elif gchild.value.link_url%}{{gchild.value.link_url}}{%else%}#{%endif%}">
                                        {{gchild.value.title}}
                                    </a>
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>