{% load wagtailimages_tags %}
{% load homepage_tags %}
{% get_navigation as navigation %}
{% get_home_page as home_page %}

<div class="hidden md:block border-b border-hot-light">
    <nav class="flex min-h-[3rem] mx-auto max-w-7xl px-4 justify-between items-center">
        <!-- Social media icons -->
        <div class="flex gap-4">
            {% for social in home_page.top_navigation_socials %}
                <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=social.value.link%}">
                    {% image social.value.icon original class="h-5 w-auto" %}
                </a>
            {% endfor %}
        </div>
        <!-- Search, Language, News, Contact Us -->
        <ul class="[&_a]:text-black font-regular font-archivo text-small items-center gap-x-5 border-hot-dark-grey bg-transparent flex border-0 py-2 "
            role="navigation"
            aria-label="Secondary Menu">
            {% comment %} Strings for Translations {% endcomment %}
            <li class="">{% include "components/search/search_icon.html" %}</li>
            <li class="hidden lg:block text-black [&_input]:text-black">{% include "language_switcher.html" %}</li>
            {% for link in home_page.top_navigation_links %}
                <li class="hidden lg:block">{% include "components/branded_elements/link.html" with link=link.value.link text=link.value.text %}</li>
            {% endfor %}
            <li class="[&_button]:text-small">
                <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=home_page.top_navigation_donate_url%}">
                    {% include "components/branded_elements/button.html" with text=home_page.top_navigation_donate_text %}
                </a>
            </li>
        </ul>
    </nav>
</div>
