<div class="">
    <p class="px-1 pb-2 font-medium text-intro">
        {{title}}
    </p>
    <div class="bg-hot-off-white w-full">
        <hr class="border-b-2">
        {% for p in pages %}
            <div class="px-1 mt-4 flex">
                <label for="{{denoter}}-{{forloop.counter}}">{{p.title}}</label>
                <input class="ml-auto checked:bg-hot-red checked:hover:bg-hot-red checked:focus:bg-hot-red" id="{{denoter}}-{{forloop.counter}}" type="checkbox" name="{{denoter}}{{p.id}}" :checked="params.get('{{denoter}}{{p.id}}')">
            </div>
        {% endfor %}
    </div>
</div>