<div class="hidden lg:block">
    <nav>
        <ul class="flex text-base-18 p-0 flex-row py-0 gap-x-5" aria-label="main">
            <li>{% include "../branded_elements/link.html" with link="#" text="Who We Are" classes="py-2" parent=True %}</li>
            <li>{% include "../branded_elements/link.html" with link="#" text="Our Work" classes="py-2" parent=True %}</li>
            <li>{% include "../branded_elements/link.html" with link="#" text="Our Mapping Hubs" classes="py-2" parent=True %}</li>
            <li>
                {% include "../branded_elements/link.html" with link="#" text="Tools &amp; Resources" classes="py-2" parent=True %}
            </li>
            <li>{% include "../branded_elements/link.html" with link="#" text="Get Involved" classes="py-2" parent=True %}</li>
            <li>{% include "../branded_elements/button.html" with text="Start Mapping" %}</li>
        </ul>
    </nav>
</div>
