<div class="hidden lg:block border-b border-hot-light">
    <nav class="flex h-12 mx-auto max-w-7xl px-4 justify-between items-center">
        <!-- Social media icons -->
        {% include "../branded_elements/social_icons.html" %}
        <!-- Search, Language, News, Contact Us -->
        <ul class="font-medium font-barlow text-base-16 items-center gap-x-5 text-hot-black border-hot-dark-grey bg-transparent flex border-0 py-2 "
            role="navigation"
            aria-label="Secondary Menu">
            {% comment %} Strings for Translations {% endcomment %}
            {% translate "News" as news %}
            {% translate "Contact Us" as contact_us %}
            <li>{% include "../search/search_icon.html" %}</li>
            <li>{% include "../branded_elements/link.html" with link="#" text="EN" parent=True %}</li>
            <li>{% include "../branded_elements/link.html" with link="#" text="News" %}</li>
            <li>{% include "../branded_elements/link.html" with link="#" text="Contact Us" %}</li>
        </ul>
    </nav>
</div>
