{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load compress %}
{% block body_class %}template-resourceandlearningpage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    {% include "ui/components/PageHeaderWithBlur.html" with title=page.title image=page.header_image endinlarge=True full_length=True smaller=True %}
    
    <div class="max-w-7xl mx-auto my-10">
        <div class="px-6 md:px-10">
            <div class="max-w-5xl mb-10 text-intro font-medium">
                {{page.intro|richtext}}
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-16 mt-10 mb-20">
                {% for panel in page.large_panels %}
                    {% include "ui/components/misc_panels/LinkBlockWithImage.html" with title=panel.value.title image=panel.value.image description=panel.value.description linktext=panel.value.link_text linkurl=panel.value.link %}
                {% endfor %}
            </div>

            <p class="text-intro font-medium">
                {% include "ui/components/BaseLink.html" with linktext=page.go_back_prefix_text|add:" "|add:page.get_parent.specific.title linkurl=page.get_parent.url %}
            </p>
        </div>
    </div>
{% endblock %}
