{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailmarkdown %}
{% load compress %}
{% block body_class %}template-individualmemberpage{% endblock %}
{% block extra_css %}
    {% compress css %}
    {% endcompress css %}
{% endblock extra_css %}

{% block content %}
    <div class="max-w-7xl mx-auto px-6 md:px-10 mt-10 mb-20">
        {% comment %} BODY SECTION {% endcomment %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 [&_a:hover]:underline">
            <div class="w-full">
                {% if page.image %}
                    {% image page.image original class="md:w-full h-auto w-auto max-h-[24rem] object-contain" %}
                {% else %}
                    {% image page.get_parent.specific.fallback_avatar original class="md:w-full h-auto w-auto max-h-[24rem] object-contain" %}
                {% endif %}
            </div>
            <div class="col-span-2">
                {% if page.member_groups %}
                    <p class="text-intro font-medium">
                        {% for group in page.member_groups %}
                            <a href="{{group.value.group.url}}" class="text-hot-red">{{group.value.role}}</a>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <h1 class="text-h1 font-semibold my-2">{{page.title}}</h1>
                <p class="text-intro font-medium my-4">
                    {% if page.position %}
                        <span>{{page.position}}</span>
                        {% if page.location_hub or page.country %}/{% endif %}
                    {% endif %}

                    {% if page.location_hub %}
                        <a href="{{page.location_hub.url}}" class="text-hot-red">{{page.location_hub.title}}</a>
                        {% if page.country %}/{% endif %}
                    {% endif %}
                    
                    {% if page.country %}
                        <span>{{page.country}}</span>
                    {% endif %}
                </p>
                <div class="base-article-m">
                    {{page.body}}
                </div>
            </div>
        </div>

        {% comment %} ON THE WEB LINKS {% endcomment %}
        {% if page.on_the_web_links %}
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-8 lg:gap-y-16">
                <div></div>
                <div class="col-span-2">
                    <h1 class="text-h2 font-bold my-2">{{page.get_parent.specific.on_the_web_title}}</h1>
                    <div class="text-intro flex gap-x-8 gap-y-4 flex-wrap">
                        {% for link in page.on_the_web_links %}
                            <p>
                                {% include "ui/components/BaseLink.html" with linktext=link.value.link_text linkurl=link.value.link_url %}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% comment %} NEWS POSTS {% endcomment %}
        {% if posts %}
            <div class="my-20">
                {% include "ui/components/news/NewsPreviewCarousel.html" with news=posts title=page.get_parent.specific.posts_title %}
            </div>
        {% endif %}

        {% comment %} CONTRIBUTIONS {% endcomment %}
        {% if contributions%}
            <div class="my-20">
                {% include "ui/components/projects/ProjectPreviewCarousel.html" with projects=contributions title=page.get_parent.specific.project_contribution_title %}
            </div>
        {% endif %}
    </div>
{% endblock %}