{% load wagtailimages_tags %}
<div x-data="{ partnerIndex: 0, fixedIndex(x) {return ({{news|length}} + x + this.partnerIndex) % {{news|length}}}, moveIndex(x) {this.partnerIndex = this.fixedIndex(x)} }" 
     class="grid {{class}}">
    <div class="grid md:grid-cols-2">
        {% if title %}
        <div>
            <h1 class="text-h2 font-bold">
                {{title}}
            </h1>
        </div>
        {% endif %}
        <div class="text-right mb-4 hidden md:block"
             :class="{ 'md:hidden': {{news|length}} <= 2,
                    'lg:hidden': {{news|length}} == 3
            }"
        >
            <div x-on:click="moveIndex(1)" class="pr-4 text-hot-red inline-flex flex-col justify-center">
                <div class="border-hot-red border-2 rounded-full h-8 w-8 text-center">
                    {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-180" %}
                </div>
            </div>
            <div x-on:click="moveIndex(-1)" class="text-hot-red inline-flex flex-col justify-center">
                <div class="border-hot-red border-2 rounded-full h-8 w-8 text-center">
                    {% include "ui/components/icon_svgs/LinkCaret.html" %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for article in news %}
            <div :class="{ 'hidden md:block': fixedIndex({{forloop.counter0}}) == 1, 
                           'hidden lg:block': fixedIndex({{forloop.counter0}}) == 2,
                           'hidden': fixedIndex({{forloop.counter0}}) > 2,
                        }"
                 :style="`order: ${fixedIndex({{forloop.counter0}}) + 1}`"
            >
                {% if article.value %}
                    {% include "ui/components/news/NewsPreviewBlockNews.html" with news=article.value %}
                {% else %}
                    {% include "ui/components/news/NewsPreviewBlockNews.html" with news=article %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="text-center mb-4 block md:hidden"
         :class="{ 'hidden': {{news|length}} == 1 }"
    >
        <div x-on:click="moveIndex(1)" class="pr-4 text-hot-red inline-flex flex-col justify-center">
            <div class="border-hot-red border-2 rounded-full h-8 w-8 text-center">
                {% include "ui/components/icon_svgs/LinkCaret.html" with class="rotate-180" %}
            </div>
        </div>
        <div x-on:click="moveIndex(-1)" class="text-hot-red inline-flex flex-col justify-center">
            <div class="border-hot-red border-2 rounded-full h-8 w-8 text-center">
                {% include "ui/components/icon_svgs/LinkCaret.html" %}
            </div>
        </div>
    </div>
</div>