{% comment %}
==> PARAMETERS
- news: an IndividualNewsPage object; the news page to be previewed
- readmoretext: a string; the text that should show for the "read more" button
{% endcomment %}
{% load wagtailcore_tags %}

{% with news.localized as news %}
    <div class="{{class}}">
        <p>
            <span class="text-small text-hot-dark-grey">
                {{ news.date }}
            </span>
        </p>

        <p class="text-h5 font-bold my-2">
            {{ news.title }}
        </p>

        <div class="max-h-20 text-ellipsis overflow-hidden text-small">
            {{ news.intro|richtext }}
        </div>

        <p class="mt-4 font-medium">
            {% if readmoretext %}
                {% include "ui/components/BaseLinkNoUnderline.html" with linkurl=news linktext=readmoretext %}
            {% else %}
                {% include "ui/components/BaseLinkNoUnderline.html" with linkurl=news linktext="Read More" %}
            {% endif %}
        </p>
    </div>
{% endwith %}