{% comment %}
==> PARAMETERS
- news: an IndividualNewsPage object; the news page to be previewed
- showimage: optional; if Truthy, the article's image will show up in the preview
{% endcomment %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image news.image original as image_p %}
<div class=" {{class}}">
    <a href="{{ news.url }}">
        {% if showimage %}
            <div class="image-hide-small w-full min-h-[9rem] mb-3 content-end bg-no-repeat bg-cover image-overshadow-gradient" style="background-image: url('{{ image_p.url }}')">
                <div>
                </div>
            </div>
        {% endif %}

        <p class="text-hot-red text-small font-semibold">
            {% for category in news.categories.all %}
                {{category.category_name}}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <hr class="my-2" />

        <p class="text-h5 font-bold my-2">
            {{ news.title }}
        </p>

        <div class="[&_p]:max-h-20 [&_p]:text-ellipsis [&_p]:overflow-hidden [&_p]:text-small">
            {{ news.intro|richtext }}
        </div>

        <p class="my-2">
            <span class="text-small text-hot-dark-grey">
                {{ news.date }}
            </span>
        </p>
    </a>
</div>