<div class="mx-auto max-w-7xl p-hot-1.5 flex flex-wrap items-center justify-between">
    <a class="h-10" href="#">{% include "../branded_elements/logo.html" %}</a>
    <div class="relative z-0 flex items-center justify-end">
        <!-- Mobile search icon -->
        {% include "../search/search_icon.html" with classes="mr-hot-1.2 text-gray-500 lg:hidden" %}
        <!-- Mobile menu button -->
        {% include "../mobile/mobile_menu_button.html" %}
    </div>
    <!-- Desktop - Primary navigation -->
    {% include "../nav/primary_desktop_nav.html" %}
</div>
