{% comment %}
==> PARAMETERS
- program: An IndividualProgramPage object; the program page to be previewed
{% endcomment %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<a href="{{ program.url }}">
    <div class="w-full bg-no-repeat bg-cover aspect-[4/3] grid">
        {% image program.header_image original class="h-full w-full object-cover object-center col-start-1 row-start-1" %}
        <div class="bg-gradient-to-t from-black/90 to-black/15 w-full h-full flex items-end col-start-1 row-start-1">
            <div class="text-white p-4 text-small">
                <h1 class="text-h5 font-bold mb-2">
                    {{ program.title }}
                </h1>
                {{ program.subtitle|richtext }}
            </div>
        </div>
    </div>
</a>
