{% comment %}
==> PARAMETERS
- programs: a list of IndividualProgramPages
{% endcomment %}
{% load wagtailimages_tags %}
<div x-data="{ partnerIndex: 0, fixedIndex(x) {return ({{programs|length}} + x + this.partnerIndex) % {{programs|length}}}, moveIndex(x) {this.partnerIndex = this.fixedIndex(x)} }" class="{{class}}">
    <div class="text-right mb-4">
        <div x-on:click="moveIndex(1)" class="pr-4 text-hot-red inline-flex flex-col justify-center">
            {% include "ui/components/icon_svgs/LinkCaretCircle.html" with outerclass="rotate-180" styledhover=True %}
        </div>
        <div x-on:click="moveIndex(-1)" class="text-hot-red inline-flex flex-col justify-center">
            {% include "ui/components/icon_svgs/LinkCaretCircle.html" with styledhover=True %}
        </div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for program in programs %}
            <div :class="{ 'hidden md:block': fixedIndex({{forloop.counter0}}) == 1, 
                           'hidden lg:block': fixedIndex({{forloop.counter0}}) == 2,
                           'hidden': fixedIndex({{forloop.counter0}}) > 2,
                        }"
                 :style="`order: ${fixedIndex({{forloop.counter0}}) + 1}`"
            >
                {% include "ui/components/programs/ProgramPreviewBlockBase.html" with program=program.value %}
            </div>
        {% endfor %}
    </div>
</div>