{% comment %}
==> PARAMETERS
- image: image object; the image for the section
- title: html element; the title for the section
- description: html element; the description for the section
- button2_text: string; the left button's text
- button2_link: string; the left button's link
- button_text: string; the right button's text
- button_link: string; the right button's link

- red_button: if truthy, the right button will be red; otherwise it will be outlined. 
    - By default, the left button is red, and the right button is outlined.
- bigdescription: if truthy, the description will have larger text
- imagebottom: if truthy, the image will always be on the bottom in tablet/mobile sizes
- imageright: if truthy, the image will always be on the right on desktop size
- imagenotwide: if truthy, the image will not stretch to the edge of the screen in tablet/mobile sizes
{% endcomment %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="mx-auto max-w-7xl grid lg:grid-cols-5">
    {% image image original as image_p %}
    <div class="min-h-[20rem] bg-cover bg-no-repeat lg:col-span-2 {%if imageright%}lg:order-2{%else%}lg:order-1{%endif%} {%if imagebottom%}order-2{%endif%} {%if imagenotwide%}mx-6 md:mx-10 lg:ml-0{%endif%}" style="background-image: url('{{image_p.url}}')"></div>
    <div class="px-6 md:px-10 py-10 flex flex-col justify-center lg:col-span-3 {%if imageright%}lg:order-1{%else%}lg:order-2{%endif%}">
        <div class="text-h2 [&_b]:text-hot-red bold-override font-bold lg:font-semibold">
            {{title|richtext}}
        </div>
        {% if title_underline %}
            <hr class="border-hot-red w-20 border-b-2" />
        {% endif %}
        <div class="{%if bigdescription%}text-intro{%endif%} font-medium my-4 base-article-m">
            {{description|richtext}}
        </div>
        <div class="flex gap-4">
            {% if button2_text %}
                <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=button2_link%}">
                    {% include "components/branded_elements/button.html" with text=button2_text classes="mt-4" %}
                </a>
            {% endif %}
            {% if button_text %}
                {% if red_button %}
                    <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=button_link%}">
                        {% include "components/branded_elements/button.html" with text=button_text classes="mt-4" %}
                    </a>
                {% else %}
                    <a href="{%include 'ui/components/PageOrLinkHrefText.html' with linkurl=button_link%}">
                        {% include "components/branded_elements/button_bordered.html" with text=button_text classes="mt-4" %}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>