{% comment %}
==> PARAMETERS
- title: string; the title
- description: html element; the description for the section
- links: list of link objects; these objects should have a .value.text and a .value.link
{% endcomment %}
{% load wagtailcore_tags %}
<h1 class="text-h2 font-bold">{{title}}</h1>
<hr class="my-4 border-t-2">
<div class="grid lg:grid-cols-5 gap-8">
    <div class="lg:col-span-3 text-intro base-article-m">
        {{description|richtext}}
    </div>
    <div class="lg:col-span-2 flex flex-wrap lg:flex-col gap-8 lg:gap-4 font-medium text-intro">
        {% for link in links %}
            <p>
                {% if not external_style %}
                    {% include "ui/components/BaseLink.html" with linktext=link.value.text linkurl=link.value.link %}
                {% else %}
                    <a href="{{link.value.link}}">
                        <span class="border-b-hot-red border-b-2 pb-1 font-medium">{{link.value.text}}</span> 
                        <span class="ml-4 text-hot-red">{% include "ui/components/icon_svgs/ExternalLinkIcon.html" with class="mb-1" %}</span>
                    </a>
                {% endif %}
            </p>
        {% endfor %}
    </div>
</div>
