{% comment %}
==> PARAMETERS
- class: string; the classes for the containing div
- sharetext: string; the text to be shown next to the share icons
{% endcomment %}
{% load wagtailimages_tags %}
{% load homepage_tags %}
{% get_share_links as links %}

<div class="{{class}}">
    <div class="flex gap-4 flex-wrap items-center">
        <p class="text-h5 font-bold text-black">
            {% if sharetext %}
                {{ sharetext }}
            {% else %}
                Share
            {% endif %}
        </p>
        {% for link in links %}
            <a href="{{link.link}}">
                {% image link.icon original class="h-6 w-auto" %}
            </a>
        {% endfor %}
    </div>
</div>